<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div class="content fullwidth nosidebar">
    <div class="pure-g">
        <div class="pure-u-1-1 policy-page">
            <h1 class="splash-head">Sorry, but that page does not exist!</h1>
            <p class="splash-subhead">This could be a mistake on our part or an out-of-date link.</p>
            <p class="splash-subhead">To continue please use the navigation or <a href="/"> return to the homepage</a>.</p>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {{> footer}}
</div>


<script src="/public/js/menu.js"></script> <!-- Resource jQuery -->

</body>
</html>
