<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Something went wrong</h1>
        <p class="splash-subhead">There was an unexpected problem loading this page.</p>
        <p><a href="/" class="mc-button">Return to homepage</a></p>
    </div>
</div>

<div class="content-wrapper">
    {{> footer}}
</div>


<script src="/public/js/menu.js"></script> <!-- Resource jQuery -->

</body>
</html>
