<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="splash-container-about">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="pure-g">
                        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                            <h1 id="block-text">A bit about Marvell Consulting</h1>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 xl-box pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">Open, clear, respectful. Success isn’t just what we deliver, it’s how we do it too.</p>

            <h3>Working as a team</h3>

            <p>Building digital services can be time-consuming and complex. Agile ways of working allow us to break difficult problems down into clear, manageable pieces of work that can be prioritised and delivered in stages. </p>

            <p>We also maintain a flat structure in our teams to allow ideas to surface and assumptions to be challenged. This open culture isn’t just a nicer way of working. It allows us to spot and resolve problems quickly, ensuring a safer and less risky approach to development. </p>
            
            <p>Covid 19: We were already set up to work remotely before the lockdown started. However we have invested in new tools that support fast, reliable remote working and which have allowed us to maintain our normal pace of delivery. </p>


            <h3>Working with clients</h3>

            <p>Our approach to working with clients is rooted in transparency and clear communication. Whether we’re working with clients new to the technology space or experienced veterans, it’s important stakeholders feel fully informed and engaged in the delivery of their product.</p>

            <p>We also respect the different disciplines we work with. Experts in operations or policy are vital to helping us create products and services that serve government’s and users’ needs. Respect for the people who know what we don’t is a core part of our ethos. It’s also one of the ways we bring teams with us as new digital ways of working become a reality.</p>

            <p class="quote">“The problem of information asymmetries in technology means clients often need to have a great deal of trust in their supplier. Building trust with our clients is everything. They need to see early on that we know what we’re doing and we have their best interests at heart." <span class="citation"><strong>Ben Marvell</strong>, CEO, Marvell Consulting</span></p>
            <p></p>

            <h3>Working in the open</h3>

            <p>We believe in learning from the public sector’s wider digital community and in sharing our own knowledge with other teams. Sharing research, solutions, patterns and code makes government services more consistent and cost-effective. </p>

            <p>Wherever possible we like to present our work at cross-government events and share our outputs with teams working on related services. </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <!-- <h3>Users</h2>
            <p>10,000+ UK and International</p>

            <h3>Phases</h2>
            <p>Live</p> -->
        </div>

        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <a href="/casestudy/asru-alpha">
                      <h3 class="content-subhead">
                          <div class="img asru-alpha">
                              <div></div>
                          </div>
                          Rapidly replacing legacy infrastructure 
                          <span class="citation">UK regulator </span>
                      </h3>
                      <p>
                          We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                      </p>
                  </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Realising ministers' aims to join up health  
                            <span class="citation">NHSx</span>
                        </h3>
                        <p>
                          An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Supporting excellent customer service 
                            <span class="citation">UK visas and immigration</span>
                        </h3>
                        <p>
                            An innovative design for a complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Contact us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="lead">We’re always here to answer any question you may have or just to have a natter over a coffee!</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Twitter:</dt>
                <dd> @<a href="https://twitter.com/marvellconsult">marvellconsult</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
            
        </div>

    </div>
</div>
{{> footer}}

</body>
</html>
