<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div id="services" class="content fullwidth">
    <div class="splash-container-services">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Digital Service Delivery</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in intro-para">Create your service using agile delivery</p>

            <p>You have identified the need for a new digital service, or a replacement of a legacy service. The solution needs to meet the needs of your organisation, its stakeholders and its users. But within your organisation, you don’t have all the skills or experience needed to engage with stakeholders and users. Nor do you have all the skills to be able to design, develop and deliver digital services.</p>

            <p>You want your service to be delivered in a timely fashion, and to meet all of the many standards of accessibility, security and reliability.</p>
            
        </div>

        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
            <h3 class="intro-para">Related G-Cloud 13 Services</h3>
            <ul>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/888271496278979">Agile design and technical delivery partner</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/257256578440984">Project delivery on time and to budget</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/584084173704817">Alpha phase delivery team</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/624292154376234">Beta phase delivery team</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/219526493311165">Live phase delivery team</a></li>
            </ul>
        </div>

        <div class="pure-u-1 main services-header">
            <h2>What we can do to help</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">

            <p>We can put together an experienced cross-functional agile team to deliver your digital solution. The team includes user researchers, designers, developers and agile delivery experts who use a user-centred, iterative and incremental approach to design and development.</p>
            
            <h2>The benefits</h2>

            <p>Working in an iterative and transparent way, allows you to see the progress that your service is making towards meeting your needs. Obtaining feedback from stakeholders and users throughout the development process gives you confidence that the solution will be adopted and will be sustainable to maintain.</p>

        </div>
        
    </div>
</div>

{{> contact}}
{{> footer}}

</body>
</html>
