<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div id="service" class="content fullwidth">
    <div class="splash-container-build">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Create your digital service using agile delivery</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3 main">
            <h2>You have identified the need for a new digital service, or a replacement of a legacy service. But within your organisation, you don’t have all the skills or experience needed to be able to design, develop and deliver it in-house.</h2> 
            
            <p>The solution needs to meet the needs of your organisation, its stakeholders and its users. You want your service to be delivered in a timely fashion, and to meet all of the many standards of accessibility, security and reliability.</p>

            <div><img class="img img-border" src="/public/img/sw-workshop-4.jpg" width="100%" alt="Reviewing the key user journeys of a service to identify areas of improvement" /></div>
            <span class="citation image">Reviewing the key user journeys of a service to identify areas of improvement</span>
            
            <h3>What we can do to help</h3>
            
            <p>We can put together an experienced cross-functional agile team to deliver your digital solution. The team includes user researchers, designers, developers and agile delivery experts who use a user-centred, iterative and incremental approach to design and development.</p>
            
            <h3>The benefits</h3>

            <p>Working in an iterative and transparent way, allows you to see the progress that your service is making towards meeting your needs. Obtaining feedback from stakeholders and users throughout the development process gives you confidence that the solution will be adopted and will be sustainable to maintain.</p>

            <h4>Read some related case studies</h4>
            <ul>
                <li><a href="/casestudy/asru-alpha">Rapidly replacing a legacy system for the Home Office</a></li>
                <li><a href="/casestudy/nhsx-beta">Building the NHS Data Standards Directory for NHS England</a></li>
                <li><a href="/casestudy/rotm">Combatting terrorism with a user-centred approach for the Home Office</a></li>
            </ul>

            <p><a href="/services">See more of our services</a></p>

        </div>
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h4>Procure these services on G-Cloud 13</h4>
            <ul>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/888271496278979">Agile design and technical delivery partner</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/257256578440984">Project delivery on time and to budget</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/584084173704817">Alpha phase delivery team</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/624292154376234">Beta phase delivery team</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/219526493311165">Live phase delivery team</a></li>
            </ul>
        </div>
    </div>
</div>

{{> contact}}
{{> footer}}

</body>
</html>
