<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}
<div id="casestudy" class="content fullwidth">
    <div class="splash-container-casestudies">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Case studies</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div id="casestudies">
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-discovery">
                    <h3 class="content-subhead">
                        <div class="img nhsx-discovery">
                            <div></div>
                        </div>
                        Researching barriers to interoperability in health
                    </h3>
                    <span class="citation">NHS England and Improvement</span>
                    <p>
                        An ambition to make health and social care interoperable was proving difficult. We gathered evidence to help shape a national strategy.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-alpha">
                    <h3 class="content-subhead">
                        <div class="img nhsx-alpha">
                            <div></div>
                        </div>
                        Designing solutions to join up health tech
                    </h3>
                    <span class="citation">NHS England and Improvement</span>
                    <p>
                        Research suggested a new digital service could support the interoperability agenda in health. We explored how it could be done.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-beta">
                    <h3 class="content-subhead">
                        <div class="img nhsx-beta">
                            <div></div>
                        </div>
                        Building the NHS Data Standards Directory
                    </h3>
                    <span class="citation">NHS England and Improvement</span>
                    <p>
                        A new directory of data standards for health and social care has given fresh impetus to an important government ambition. 
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-alpha">
                    <h3 class="content-subhead">
                        <div class="img asru-alpha">
                            <div></div>
                        </div>
                        Rapidly replacing a legacy government system
                    </h3>
                    <span class="citation">Home Office</span>
                    <p>
                        A regulator’s outdated systems were replaced with a government-compliant service whilst maintaining business continuity
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-beta">
                    <h3 class="content-subhead">
                        <div class="img asru-beta">
                            <div></div>
                        </div>
                        Unlocking the power of digital in UK biosciences
                    </h3>
                    <span class="citation">Home Office</span>
                    <p>
                        Overhauling a regulator’s digital operations boosted staff efficiency, and customer satisfaction from 47% to 78%
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/rotm">
                    <h3 class="content-subhead">
                        <div class="img rotm">
                            <div></div>
                        </div>
                        Combatting terrorism with a user-centred approach
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        Redesigning a service that allows citizens to report online terrorist materials provided better intelligence to the police
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/modern-slavery">
                    <h3 class="content-subhead">
                        <div class="img modern-slavery">
                            <div></div>
                        </div>
                        Improving an alert system for modern slavery
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        A flagship service for reporting suspected modern slavery was overhauled to make reporting easier.  
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/hof">
                    <h3 class="content-subhead">
                        <div class="img hof">
                            <div></div>
                        </div>
                        Speeding up development of GOV.UK forms
                    </h3>
                    <span class="citation">UK Government</span>
                    <p>
                        An innovative open source tool for building GOV.UK forms facilitated faster development in 19 services.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/ukvi">
                    <h3 class="content-subhead">
                        <div class="img ukvi">
                            <div></div>
                        </div>
                        Rethinking complaint forms for a better experience 
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        An innovative design for a global complaints service increased customer satisfaction from 31% to 63%.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/ho-live">
                    <h3 class="content-subhead">
                        <div class="img ho-live">
                            <div></div>
                        </div>
                        Expertly supporting digital services past live
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        Live services need maintenance. We protected and improved 9 government services with 99.99% uptime and no security breaches.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img wiley">
                        <div></div>
                    </div>
                    Building a platform for evidence-based medicine
                </h3>
                <span class="citation">Wiley</span>
                <p>
                    Case study coming soon.
                </p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar"></div>
        
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="right-col-intro">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
                <dl class="contact-us">
                    <dt>Email: </dt>
                    <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                    <dt>Phone:</dt>
                    <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                    <dt>Social: </dt>
                    <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                    <dt>Visit: </dt>
                    <dd>
                        <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                        <br>
                        Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                    </dd>
                </dl>
                
            </div>

    </div>
</div>
{{> footer}}

</body>
</html>
