<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="splash-container-contact">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="pure-g">
                        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                            <h1 id="block-text">Talk to us</h1>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">

        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="lead-in">We’re always here to answer any question you may have or just to have a natter over a coffee!</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Twitter:</dt>
                <dd> @<a href="https://twitter.com/marvellconsult">marvellconsulting</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                </dd>
            </dl>
            
        </div>
        
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <a href="/casestudy/asru-alpha">
                      <h3 class="content-subhead">
                          <div class="img asru-alpha">
                              <div></div>
                          </div>
                          Rapidly replacing legacy infrastructure 
                          <span class="citation">UK regulator</span>
                      </h3>
                      <p>
                          We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                      </p>
                  </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Informing strategy for an interoperable NHS 
                            <span class="citation">NHSx</span>
                        </h3>
                        <p>
                          An important ministerial goal was proving hard to achieve. We gathered evidence to support the leadership team’s strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                            <span class="citation">UK visas and immigration</span>
                        </h3>
                        <p>
                            An innovative design for a complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
