<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="splash-container-contact">
        <div class="splash-overlay">
            <iframe width="100%" height="100%" frameborder="0" style="border:0"src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA&zoom=14" allowfullscreen></iframe>
            <div class="splash" style="margin: -29rem auto auto 16rem; position: absolute; width: 100rem">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3"  z-index="1">
                        <h1 id="block-text">Get in touch</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g no-border">
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="right-col-intro">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Social: </dt>
                <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
        </div>
        
    </div>

</div>
{{> footer}}

</body>
</html>
