<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div id="services" class="content fullwidth">
    <div class="splash-container-services">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Developing your digital skills</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in intro-para">Grow digital capabilities in house</p>

            <p>Do you lack the skills to make your organisation more digital and agile? Do you find it hard to attract and retain people in digital roles?</p>

            <p>Our work involves developing your internal capabilities through coaching in digital service delivery and empowering people with new ways of working.</p>
            
        </div>

        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
            <h3 class="intro-para">Downloads</h3>
            <ul>
                <li><a href="/downloads/digital-academy">Digital Academy (PDF)</a></li>
            </ul>
        </div>

        <div class="pure-u-1 main services-header">
            <h2>What we can do to help</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">

            <p>Our multidisciplinary team of experts will support your digital transformation by upskilling and training your in house team in applying user-centred design and agile methodologies.</p> 

            <p>Our experts are trusted public sector specialists in the research, design and build of clear, secure, products and end-to-end services that meet users' needs. They strike a balance between theory and practice and can bring their extensive knowledge to your own teams.</p>

            
            <h2>The benefits</h2>

            <p>You get a tailored training plan based on our benchmark of your team's capability and goals. Our senior team of trainers and coaches collaborate with you to create opportunities for learning on the job while delivering training and tools that empower your staff. This allows your organisation to benefit from new approaches early and throughout our engagement.</p>

        </div>
        
    </div>
</div>

{{> contact}}
{{> footer}}

</body>
</html>
