<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}
<div id="casestudy" class="content fullwidth">
    <div class="splash-container-frameworks">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Find us on popular public sector frameworks</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="about-frameworks"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="lead-in intro-para">We're available to procure across Crown Commercial Service and government procurement frameworks across the UK including:
                </p>
              </p>
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="gcloud13"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>G-Cloud 13</h2>
                <p>Agreement ID: RM1557.13, Lot 3: Cloud support</p>
                <p>G-Cloud 13 is an online catalogue where public sector customers can buy buy our cloud-based computing services including:</p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <p><strong>Agile delivery</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/888271496278979">Agile design and technical delivery partner</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/286761414897502">Discovery phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/584084173704817">Alpha phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/624292154376234">Beta phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/219526493311165">Live phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/257256578440984">Project delivery on time and to budget </a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/689596317020633">Project delivery using JIRA and Trello</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/543629359066038">Project rescue</a></li>
                </ul>
            </div>

            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
              <p><strong>Individual specialisms</strong></p>
              <ul>   
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/431074056083361">User research</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/988201776369015">Service design</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/674392854433912">Content design </a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/217461544010039">Interaction design</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/396362988123496">Delivery management </a></li>
              </ul>
              
              <p><strong>Performance mangagement</strong></p>
              <ul>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/212058134887142">Performance dashboards and management information services</a></li>
              </ul>
          </div>
              
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">

                <p><strong>Cloud support</strong></p>
                <ul> 
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/587813056228869">Cloud application support and operations</a></li>
                </ul>

                <p><strong>Forms capability</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/325389982989532">GOV.UK forms</a></li>
                </ul>

                <p><strong>Case management</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/371788199950328">Case management and licensing services </a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/912255882048376">Case-working workflow management and processing pipelines</a></li>
                </ul>
            </div>
          
            <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">

                <p>G-Cloud is available for: Central government, charities, education, health, local authority, blue light (police, fire, ambulance, search and rescue), devolved administrations, British overseas territories.
                </p>
            </div>
        </div>
    </div>

    <div class="pure-g">
        <div class="content" id="dos5"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Digital Outcomes and Specialists 5</h2>
                <p>Agreement ID: RM1043.7</p>
                <p>All public sector organisations can use the Digital Marketplace to find suppliers who can design, build and deliver bespoke digital services using an agile approach.</p>
                <p>Opportunities can be advertised on <a href="https://www.digitalmarketplace.service.gov.uk/">the digital marketplace</a>.</p>
            </div>
        </div>
    </div>


    <div class="pure-g">
        <div class="content" id="dos5"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>BLOOM</h2>
                <p>We are on <a href="https://bloom.services/">NEPRO³ procurement framework</a> provided by Bloom. The framework assists the UK public sector to buy and manage specialist professional services.</p>
            </div>
        </div>
    </div>

    <div class="pure-g">
        <div class="content" id="private-sector"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Need help with procurement?</h2>
                <p><a href="contact">Contact us</a> to discuss how we can support you to buy our services.
                </p>
            </div>
          </div>
        </div>
    </div>
</div>


{{> contact}}

{{> footer}}

</body>
</html>
