<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K48ZCTH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{> header}}

<div class="splash-container">
    <div class="splash-overlay-home">
        <div class="splash">
            <div class="content" id="">
                <div class="pure-g">
                    <div class="xl-box pure-u-1 pure-u-md-3-4 pure-u-lg-3-4">
                        <h1 id="block-text">Building a sustainable digital future for public services</h1>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="content-wrapper">

    <div class="content" id="whatwedo">
        <div class="pure-g ">
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h2 class="content-head content-head-ribbon">Marvell Consulting work with public sector organisations to research, design and build services that help people thrive.</h2>
                <p>Bringing together a curated, multi-disciplinary team of experts across user research, design and software development, we help organisations understand user needs, build consensus and empower people with new ways of working.</p>
                <p>This results in digital services that are easier to use, more efficient to deliver and fit for the future.</p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    <div class="img-hero marvell">
                        <div></div>
                    </div>
                </h3>
            </div>
        </div>
    </div>

    <div class="content" id="whatwedo">
        <div class="pure-g ">
            <div class="xl-box pure-u-1 pure-u-md-3-3 pure-u-lg-3-3">
                <h2 class="content-head content-head-ribbon">Services</h2>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/understand">
                    <h3 class="content-subhead">
                        <div class="img understand-your-users">
                            <div></div>
                        </div>
                        Understanding your users
                    </h3>
                    <p>
                        Carrying out research to help you understand your users and their needs.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/build">
                    <h3 class="content-subhead">
                        <div class="img building-your-digital-service">
                            <div></div>
                        </div>
                        Building your digital service
                    </h3>
                    <p>
                        Building services using a user centred design and agile delivery approach.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/develop">
                    <h3 class="content-subhead">
                        <div class="img develop-your-digital-skills">
                            <div></div>
                        </div>
                        Developing your digital skills
                    </h3>
                    <p>
                        Assembling a team of experts to upskill and train your in house teams.
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="content" id="casestudies">
        <div class="pure-g no-border">
            <div class="xl-box pure-u-1">
                <h2 class="content-head content-head-ribbon">Case studies</h2>
            </div>
        </div>
        <div class="pure-g ">
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-beta">
                    <h3 class="content-subhead" style="margin-top: 10px;">
                        Unlocking the power of digital in UK biosciences
                    </h3>
                    <span class="citation">Home Office</span>
                    <p>
                        Overhauling a regulator’s digital operations boosted staff efficiency, and customer satisfaction from 47% to 78%.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-discovery">
                    <h3 class="content-subhead" style="margin-top: 10px;">
                        Researching ministers' aims to join up health
                    </h3>
                    <span class="citation">NHSX</span>
                    <p>
                        An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                    </p>
                </a>
            </div>
            <!-- <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-alpha">
                    <h3 class="content-subhead" style="margin-top: 10px;">
                        Exploring solutions to join up care settings
                    </h3>
                    <span class="citation">NHSX</span>
                    <p>
                        Helping health and social care IT systems join up through promoting interoperability standards.
                    </p>
                </a>
            </div> -->
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/ukvi">
                    <h3 class="content-subhead" style="margin-top: 10px;">
                        Rethinking complaint forms for a better experience 
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        An innovative design for a global complaints service increased customer satisfaction from 31% to 63%.
                    </p>
                </a>
            </div>            
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="casestudies">See more case studies</a>
            </div>

        </div>
    </div>

    <div class="anchor"><div id="helped"></div></div>

    <div class="content" id="whowehelped">
        <div class="pure-g">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h2 class="content-head content-head-ribbon">Why choose Marvell</h2>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="right-col-intro">Our ethos is simple: when you have the right people working for you, good things happen.</p> 
                <p>Time and again we’ve shown that with a proven team anyone can create great digital services, it doesn’t have to be a gamble. </p>
                
                <p><a class="more-info" href="who">Find out more about us</a></p>
                
                <p class="quote">“Marvell Consulting has been integral in the transformation of the Home Office’s digital operations. The research, design and build has been exceptional.” <span class="citation">Ben Stevens, Product Lead, Home Office</span></p>
                
                <p><a href="casestudies">See some of our clients’ success stories</a> or if you’re ready for your own success story, get in touch at <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a>.</p>
            </div>
            
            <div class="xl-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <p>Some of our valued clients:</p>
            </div>

            <div class="logos-container">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/govuk.svg" alt="GOV.UK"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/ho.svg" alt="Home Office"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/hmpo.svg" alt="HM Passport Office"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/ukvi.svg" alt="UK Visas and Immigration"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/nhs.svg" alt="NHS"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/greaterlondonauthority.svg" alt="Greater London Authority"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/wales.svg" alt="Welsh Government"/></div>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <div><img src="/public/svg/police.svg" alt="Metropolitan Police"/></div>
                </div>
            </div>

            <div class="xl-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <p>Our experience:</p>
            </div>

            <div class="xl-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="pure-g bignumber">
                    <div class="xl-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                        <h3>
                            20<span class="stat-symbol">+</span>
                        </h3>
                        <p>years’ combined government experience</p>
                    </div>
                    <div class="xl-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                        <h3>
                            15<span class="stat-symbol">    </span>
                        </h3>
                        <p>government and GDS exemplar services built</p>
                    </div>
                    <div class="xl-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                        <h3>
                            10<span class="stat-symbol">+</span>
                        </h3>
                        <p>GDS digital service assessments passed</p>
                    </div>
                    <div class="xl-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                        <h3>
                            100<span class="stat-symbol">%</span>
                        </h3>
                        <p>clients likely to recommend us</p>
                    </div>
                    <!-- <div class="xl-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5">
                        <h3>
                            100<span class="stat-symbol">+</span>
                        </h3>
                        <p>open source projects created for government</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {{#jobs.length}}
    <div>
        <div class="anchor"><div id="workwithus"></div></div>
        <div class="pure-g">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h2 class="content-head content-head-ribbon">Work with us.</h2>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                
                    <p>We are currently hiring for the following positions. <a href="mailto:talent@marvell.consulting">Get in touch</a> if you are interested.</p>
                    <p>
                    {{#jobs}}
                        <a href="/jobs/{{id}}">{{title}}</a>
                    {{/jobs}}
                    </p>
            </div>
        </div>
    </div>
    {{/jobs.length}}

    {{> contact}}

    {{> footer}}

</div>

</body>
</html>
