<!doctype html>
<html lang="en">
{{> partials-head}}
<body>
{{> partials-header}}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-subhead logo-thin">We put users at the heart of everything we do to create digital services that directly address and anticipate their needs</h1>
        <!-- <h1 class="splash-head">Marvell <span class="logo-thin">Consulting<span></h1>
        <p class="splash-subhead">
            help clients navigate the stages of digital transformation through
        </p>
        <div class="phases-to-animate splash-subhead">
            <div>
                <span class="discovery">Discovery ✔</span> <span class="alpha">Alpha ✔</span> <span class="beta">Beta ✔</span> <span class="live">Live ✔</span>
            </div>
        </div>

        <span class="element splash-subhead"></span> -->
    </div>
</div>

<div class="content-wrapper">
    <div class="content ribbon" id="whatwedo">
        <h2 class="content-head content-head-ribbon is-center">What we do</h2>

        <div class="pure-g">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">


                <h3 class="content-subhead">
                    Digital Transformation
                </h3>
                <p>
                    Our team has more than 15 years of experience in delivering impactful digital services. We use an agile approach, which means we work flexibly and quickly to respond to the changing needs of projects as they develop.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">

                <h3 class="content-subhead">
                    User-centred design
                </h3>
                <p>
                    We put users at the heart of everything we do to create design experiences that directly address their needs.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">


                <h3 class="content-subhead">
                    Technology solutions
                </h3>
                <p>
                    We create durable experiences that can be tailored for any business or organisation - whatever the digital challenge.
                </p>
            </div>
        </div>
    </div>

    <div class="content" id="toolsweuse">
        <h2 class="content-head content-head is-center">Tools we use</h2>

        <div class="pure-g">
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">


                <h3 class="content-subhead">
                    <div class="type-icon"><i class="devicon-nodejs-plain"></i></div>
                    Node.js
                </h3>
                <p>
                    An asynchronous event driven JavaScript runtime, we use Node to build scalable network applications.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <div class="type-icon"><i class="devicon-docker-plain"></i></div>
                    Docker
                </h3>
                <p>
                    We use docker to build, ship, and run distributed applications on the cloud.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <div class="type-icon"><i class="devicon-react-original"></i></div>
                    React
                </h3>
                <p>
                    React allows us to create tested reusable components to deliver robust accessible user interfaces.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <div class="type-icon"><i class="devicon-amazonwebservices-original"></i></div>
                    AWS
                </h3>
                <p>
                    We use Amazon Web Services to deploy and run our services securely. AWS allows us to scale and meet our clients needs with great flexibility.
                </p>
            </div>
        </div>
    </div>


    <div class="content" id="whowehelped">
        <h2 class="content-head content-head is-center">Who we've helped</h2>

        <div class="pure-g">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">


                <h3 class="content-subhead">
                    <div><img src="/public/img/Govuk_logo.svg"></div>
                    Performance Platform
                </h3>
                <p>
                    Our team helped GDS with the delivery of <a href="https://gov.uk/performance" target="_blank">gov.uk/performance</a> a service which measures how government services are performing.<br>
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">

                <h3 class="content-subhead">
                    <div><img src="/public/img/Home_Office.svg"></div>
                    Home Office Forms
                </h3>
                <p>
                   We developed a forms framework for teams across the UK government to quickly develop and impliment accessible, secure and robust forms.<br>
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">

                <h3 class="content-subhead">
                    <div><img src="/public/img/British_Gas.svg"></div>
                    Hive Home
                </h3>
                <p>
                    We helped British Gas deliver one of the first smart heating control systems in the UK allowing their customers to control and view usage remotely.<br>
                </p>
            </div>
        </div>
    </div>

    <div class="content ribbon" id="speakwithus">
        <h2 class="content-head content-head-ribbon is-center">Speak with us</h2>

        <div class="pure-g">
            <div class="pure-u-1-4"> </div>
            <div class="pure-u-1-2">
                <p>If you'd like to find out more about how we can help you deliver your digital transformation.</p>
                <p><a href="mailto:hello@marvell.consulting?Subject=Hello" class="mc-button">get in touch</a></p>
            </div>
            <div class="pure-u-1-4"> </div>
        </div>

    </div>

    <div class="content ribbon" id="workwithus">
        <h2 class="content-head content-head-ribbon is-center">Work with us</h2>

        <div class="pure-g">
            <div class="pure-u-1-4"> </div>
            <div class="pure-u-1-2">
                {{#jobs.length}}
                    <p>We are currently hiring for the following positions. <a href="mailto:talent@marvell.consulting">Get in touch</a> if you are interested.</p>
                    <p>
                    {{#jobs}}
                        <a href="/jobs/{{id}}" class="mc-button">{{title}}</a>
                    {{/jobs}}
                    </p>
                {{/jobs.length}}
                {{^jobs.length}}
                    <p>We don't have any open positions at the moment, but we're always keen to meet talented people who share our goals.</p>
                    <p><a href="mailto:hello@marvell-consulting.com" class="mc-button">get in touch</a></p>
                {{/jobs.length}}
            </div>
            <div class="pure-u-1-4"> </div>
        </div>

    </div>

    {{> partials-footer}}

</div>


<script src="/public/js/menu.js" type="text/javascript"></script>
<script src="/public/js/typed.min.js" type="text/javascript"></script>

<script>
  var typed = new Typed('.element', {
    stringsElement: '.phases-to-animate',
    typeSpeed: 90,
    backSpeed: 30,
    showCursor: false
  });
</script>

</body>
</html>
