<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="services" class="content fullwidth">
    <div class="splash-container-services">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">What we do</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in intro-para">We can build digital solutions from start to finish or provide individual services and consultancy.</p>

            <p>We are a team of researchers, designers, writers, developers and project managers who support clients on digital projects such as:</p>
            <ul>
                <li>websites, apps and data dashboards</li>
                <li>online applications and customer forms</li>
                <li>backend staff workflows and intranets</li>
            </ul>
            
        </div>

        <div class="pure-u-1 main services-header">
            <h2>Learn</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">

            <p>When you listen to people you build services that work for them. We research your landscape, users, technology and ambitions so we can create a digital solution grounded in evidence and a deep understanding of your needs. </p> 

            <p>We’re careful to include all your users, from people with low digital confidence to those who rely on assistive technologies, to ensure everyone gets an equally good service.</p>
            
            <div><img class="img" src="/public/img/work-discovery.jpg" width="100%" alt="Analysing a problem space"></div>
            <span class="citation image">The team analysing a problem space</span>
            
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 services-sidebar">
            <h3>Services</h3>
            <ul>
                <li>Ethnographic research</li>
                <li>Interviews and workshops</li>
                <li>Surveys</li>
                <li>Usability testing</li>
                <li>Workplace shadowing</li>
            </ul>
        </div>

        <div class="pure-u-1 main services-header">
            <h2>Create</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            
            <p>Using evidence from research, we explore in design what your digital solution could look like. We sketch out ideas and turn the strongest concepts into clickable prototypes that we can test. </p>

            <p>We use design best practices to ensure our designs are intuitive, inclusive, aligned to your brand and take into account any external systems they need to work with. </p>
            
            <div><img class="img" src="/public/img/team-workshop.jpg" width="100%" alt="Sketching ideas"></div>
            <span class="citation image">Some sketches of possible solutions to a problem</span>
            
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 services-sidebar">
            <h3>Services</h3>
            <ul>
                <li>Ideation workshops</li>
                <li>Pair writing</li>
                <li>Prototyping</li>
                <li>Service design</li>
                <li>Stakeholder mapping</li>
            </ul>
        </div>

        <div class="pure-u-1 main services-header">
            <h2>Build</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            
            <p>We build software using open source technologies that allow services to be easily maintained and updated. We reuse existing code where we can for efficiency and follow an agile approach of continuous development, testing and refinement.</p>
            
            <div><img class="img" src="/public/img/work-build.jpg" width="100%" alt="Reviewing software"></div>
            <span class="citation image">The team reviewing some new functionality</span>
            
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 main services-sidebar">
            <h3>Services</h3>
            <ul>
                <li>Automated testing</li>
                <li>Platform selection</li>
                <li>Software development</li>
                <li>Technical architecture</li>
            </ul>
        </div>
        <div class="pure-u-1 main services-header">
            <h2>Support</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            
            <p>We look after live digital services for clients who don’t have in-house teams with the necessary skills. We carry out security monitoring, ensure services are working reliably with a minimum uptime of 99% and implement new features or improvements.</p>
            
            <div><img class="img" src="/public/img/work-monitoring.png" width="100%" alt="Some example monitoring software used by Marvell"></div>
            <span class="citation image">An example of some example monitoring software used by Marvell</span>
            
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 main services-sidebar">
            <h3>Services</h3>
            <ul>
                <li>Monitoring and alerting</li>
                <li>New features</li>
            </ul>
        </div>

        <div class="pure-u-1 main services-header">
            <h2>Promote</h2>
        </div>

        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            
            <p>Well made digital products can transform people’s lives, but it’s not always easy communicating that to people who are new to the technology space or who don’t quite grasp what you’re trying to achieve.</p>

            <p>We co-create strategy and business cases that articulate the value of a digital project to senior decision makers. We also write blog posts and thought leadership to share learnings and communicate successes.</p>

            <div><img class="img" src="/public/img/work-blog.jpg" width="100%" alt="An example of our blog on GOV.UK"></div>
            <span class="citation image">An example of our blog on GOV.UK</span>

        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 main services-sidebar">
            <h3>Services</h3>
            <ul>
                <li>Blog posts</li>
                <li>Business cases</li>
                <li>Strategy</li>
                <li>Thought leadership</li>
            </ul>
        </div>
    </div>
</div>
<div class="content more" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="right-col-intro">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Social: </dt>
                <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
        </div>
    </div>
</div>
{{> footer}}

</body>
</html>
