<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-services"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Our services</h1>
            <p class="client">Marvell Consulting</p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod at nam fuga corrupti reprehenderit praesentium animi ex consequatur velit magni. Obcaecati dolores nostrum, eaque nesciunt quia velit placeat illum dolorum</p>

            <h2>Discover</h2>
            
            <p>Understanding your users’ need is the starting point for building any successful service. Research provides the insight to make sound, evidence-based decisions.</p>

            <p>We’ll work with you to understand who your users are and how best to involve them in the development of your service or product. That could be a full discovery where we explore all the people, systems and processes impacted by a digital change. Or it could be shadowing users to see how easy (or hard) they find a proposed new system.</p>

            <p>We use a range of methods depending on the project including stakeholder workshops, workplace observations and usability testing. When researching with stakeholders we’re sensitive to differences in organisational norms and cultures and take time to understand how best to engage them to build their trust. </p>

            <p>All our researchers are accredited, GDPR compliant and practised in applying best practice, ethical methods of research.</p>

            <h3>Capabilities</h3>

            <ul>
              <li>Accessibility testing</li>
              <li>Assisted digital testing</li>
              <li>Ethnographic research</li>
              <li>Interviews and observations</li>
              <li>Remote research</li>
              <li>Stakeholder mapping</li>
              <li>Surveys</li>
              <li>Usability testing</li>
              <li>User needs workshops</li>
              <li>User personas </li>
            </ul>

            <h2>Design</h2>

            <p>Well-designed products and services combine insights about users with organisational knowledge, problem-solving skills, and an understanding of core design principles. </p>
            
            <p>We use methods including service mapping, co-design workshops and prototyping to explore how technology could meet users’ needs in the simplest and most sustainable way possible. We’re also mindful of constraints and engage with stakeholders early on to ensure approaches are technically and operationally feasible. </p>
            
            <p>It’s no coincidence that some of the most successful technologies are also the easiest to use. Clear wording, simple interfaces and design that’s accessible by default are principles that lie at the heart of everything we do. We test all our designs in real life scenarios with real users so we can be confident our products and services are genuinely user-centred and work for everyone. </p>
            
            
            <h3>Capabilities</h3> 
            <ul>
              <li>Co-design</li>
              <li>Content design</li>
              <li>Ideation workshops</li>
              <li>Information architecture</li>
              <li>Interaction design</li>
              <li>Naming workshops</li>
              <li>Pair writing</li>
              <li>Prototyping</li>
              <li>Service design</li>
              <li>Service and system mapping</li>
            </ul>
            
            <h2>Deliver</h2>
            
            <p>Secure, resilient, high-performing: digital products and services are only as good as the software they’re built on. </p>
            
            <p>Our technical discovery starts with identifying where existing products can be used or if bespoke software is required. As champions of open-source software we’re always looking for opportunities to reuse existing solutions to make development faster and more cost-effective. </p>
            
            <p>Our years of experience handling sensitive data for the public sector means we can deliver software that meets the highest security standards. We also use automated processes as much as possible to increase reliability and responsiveness. </p>
            
            <p>Work doesn’t stop when a service goes live. We continue to measure service performance so we can make improvements based on real data. One way we do this is by making performance statistics a core service feature, allowing us to spot potential issues before they become problems for our users. Continuous learning and refinement means our services only get better. </p>
            
            <h3>Capabilities</h3>
            <ul>
              <li>Automated testing</li>
              <li>Continuous integration and deployment</li>
              <li>Monitoring and alerting</li>
              <li>Software development</li>
              <li>Technical architecture and design</li>
            </ul>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru">
                        <h3 class="content-subhead">
                            <div class="img asru">
                                <div></div>
                            </div>
                            Designing for the 21st century regulator
                        </h3>
                        <p>
                            Delivering a large-scale digital transformation that's saved 6,600 staff hours and increased very satisfied customers from 5% to 33%.
                        </p>
                    </a>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
    
                    <h3 class="content-subhead">
                        <div class="img hof">
                            <div></div>
                        </div>
                        Championing open source
                    </h3>
                    <p>
                        Creating a reusable, open sourced template to rapidly code government forms, used by 19 services to date. Case study coming soon.
                    </p>
                </div>
            </div>
        </div>
        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
