<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}
<div id="services" class="content fullwidth">
    <div class="splash-container-frameworks">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">Services</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g ">
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2 class="content-head content-head-ribbon">From research to digital strategy and delivery, we can take your project from discovery to launch</h2>
                <p>We bring together a curated, multi-disciplinary team of experts across user research, design and software development, to upgrade existing services or build new ones, whilst working to non-negotiable deadlines and budgets. Our approach results in services that are more effective, resilient and sustainable.</p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img-hero services">
                        <div></div>
                    </div>
                </h3>
            </div>
        </div>
        <div class="pure-g ">
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/understand">
                    <h3 class="content-subhead">
                        <div class="img understand-your-users">
                            <div></div>
                        </div>
                        Understanding your users
                    </h3>
                    <p>
                        Carrying out research to help you understand your users and their needs.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/build">
                    <h3 class="content-subhead">
                        <div class="img building-your-digital-service">
                            <div></div>
                        </div>
                        Building your digital service
                    </h3>
                    <p>
                        Building services using a user centred design and agile delivery approach.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/services/develop">
                    <h3 class="content-subhead">
                        <div class="img develop-your-digital-skills">
                            <div></div>
                        </div>
                        Developing your digital skills
                    </h3>
                    <p>
                        Assembling a team of experts to upskill and train your in house teams.
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="gcloud13"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Procurement frameworks</h2>
                <p>We can help you find the right way to buy our services which are available via a number of public sector frameworks. <a href="/contact">Get in touch</a> to have a chat about how we can support you.</p>
                <h2>G-Cloud 13</h2>
                <p>Agreement ID: RM1557.13, Lot 3: Cloud support</p>
                <p>G-Cloud 13 is an online catalogue where public sector customers can buy buy our cloud-based computing services including:</p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <p><strong>Agile delivery</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/888271496278979">Agile design and technical delivery partner</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/286761414897502">Discovery phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/584084173704817">Alpha phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/624292154376234">Beta phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/219526493311165">Live phase delivery team</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/257256578440984">Project delivery on time and to budget </a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/689596317020633">Project delivery using JIRA and Trello</a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/543629359066038">Project rescue</a></li>
                </ul>
            </div>

            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
              <p><strong>Individual specialisms</strong></p>
              <ul>   
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/431074056083361">User research</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/988201776369015">Service design</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/674392854433912">Content design </a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/217461544010039">Interaction design</a></li>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/396362988123496">Delivery management </a></li>
              </ul>
              
              <p><strong>Performance mangagement</strong></p>
              <ul>
                  <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/212058134887142">Performance dashboards and management information services</a></li>
              </ul>
          </div>
              
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">

                <p><strong>Cloud support</strong></p>
                <ul> 
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/587813056228869">Cloud application support and operations</a></li>
                </ul>

                <p><strong>Forms capability</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/325389982989532">GOV.UK forms</a></li>
                </ul>

                <p><strong>Case management</strong></p>
                <ul>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/371788199950328">Case management and licensing services </a></li>
                    <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/912255882048376">Case-working workflow management and processing pipelines</a></li>
                </ul>
            </div>
          
            <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">

                <p>G-Cloud is available for: Central government, charities, education, health, local authority, blue light (police, fire, ambulance, search and rescue), devolved administrations, British overseas territories.
                </p>
            </div>
        </div>
    </div>

    <div class="pure-g">
        <div class="content" id="dos5"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Digital Outcomes and Specialists 5</h2>
                <p>Agreement ID: RM1043.7</p>
                <p>All public sector organisations can use the Digital Marketplace to find suppliers who can design, build and deliver bespoke digital services using an agile approach.</p>
                <p>Opportunities can be advertised on <a href="https://www.digitalmarketplace.service.gov.uk/">the digital marketplace</a>.</p>
            </div>
        </div>
    </div>


    <div class="pure-g">
        <div class="content" id="dos5"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>BLOOM</h2>
                <p>We are on <a href="https://bloom.services/">NEPRO³ procurement framework</a> provided by Bloom. The framework assists the UK public sector to buy and manage specialist professional services.</p>
            </div>
        </div>
    </div>
</div>


{{> contact}}

{{> footer}}

</body>
</html>
