<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>

<body>
    {{> header}}

    <div class="content fullwidth nosidebar">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <h1>Social Value Statement</h1>
                <p>At Marvell Consulting we are committed to taking action so that our work has a positive impact on society and the planet.</p>
                <h2>Caring for our planet</h2>
                <p>We are always considering new ways to reduce energy consumption and minimise our impact on the environment. We are:</p>
                <ul>
                    <li>Working with sustainable and ethical suppliers</li>
                    <li>Favouring environmentally responsible goods and services</li>
                    <li>Encouraging remote meetings wherever possible to cut down on travelling</li>
                    <li>Encouraging the use of public transport wherever face-to-face meetings are required</li>
                    <li>Reusing or recycling everything we’re able to and disposing any remaining waste responsibly </li>
                    <li>Choosing premises that have <a href="https://www.workspace.co.uk/getattachment/2b4e5ab9-acc3-4a8a-bec7-357e1423d1a4/2021-22-environmental-policy-signed.pdf">policies for recycling and sustainability</a></li>
                    <li><a href="https://www.energy.gov/femp/office-energy-checklist#:~:text=Turn%20off%20your%20computer%20and,management%20feature%20and%20use%20it.">Using energy responsibly at our office</a> and when working from home</li>
                    <li>Creating digital services for our clients that minimise the need to use printed materials</li>
                    <li>Encouraging our clients and partners to run their digital services with renewable energy</li>
                </ul>
                
                <h2>Working towards a fair and inclusive society</h2>
                <p>We aim to create new jobs and skills as well as increasing supply chain resilience and capacity by:</p>
                <ul>
                    <li>Regularly expanding our workforce to help support the high growth digital sector</li>
                    <li>Advertising new roles broadly and anonymising applications to create a level playing field, avoiding any bias towards education or background</li>
                    <li>Upskilling and training client teams to create new jobs and skills</li>
                    <li>Monitoring new innovative technologies that we can utilise to provide higher quality outcomes, ensuring our services are future proofed and sustainable </li>
                    <li>Co-designing services with public sector organisations and their users  </li>
                    <li>Sharing feedback provided by service users to service owners to support the improvement of inclusive services and relationships</li>
                    <li>Partnering with a number of like-minded suppliers of various sizes to support growth across the industry</li>
                    <li>Regularly reviewing contracts with our suppliers to ensure both parties are satisfied with the agreements in place </li>
                    <li>Having a fair and transparent pricing model</li>
                </ul>

                <h2>Providing equal opportunities</h2>
                <p>We are committed to creating an inclusive and diverse workforce. We promote a supportive culture by:</p>
                <ul>
                    <li>Maintaining a flat hierarchy - everyone’s perspective is equally valued </li>
                    <li>Adopting fair recruitment practices: writing inclusive job adverts, advertising in forums to reach people from diverse ethnic backgrounds, anonymising job applications and having diverse recruitment panels</li>
                    <li>Inviting open and honest feedback in team meetings </li>
                    <li>Adapting our ways of working following staff feedback</li>
                    <li>Offering flexible working hours and locations to everyone </li>
                    <li>Supporting the use of different tools that meet staff preferences including accessibility needs </li>
                    <li>Employing staff that operate across multiple locations which creates opportunities to get involved in our local communities </li>
                </ul>

                <h2>Caring for our people</h2>
                <p>Wellbeing is essential for both our people and our organisation as a whole – we create a positive working environment by: </p>
                <ul>
                    <li>Having a trained mental health first aider on the team </li>
                    <li>Adopting the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/658145/thriving-at-work-stevenson-farmer-review.pdf">Thriving at Work standards</a> and committing to <a href="https://www.mentalhealthatwork.org.uk/commitment/#commitment">Mental Health at Work</a></li>
                    <li>Encouraging people to take regular breaks to improve their physical and mental health </li>
                    <li>Allowing flexible working in regards to location and time to allow staff to manage their work/life balance more easily</li>
                    <li>Hold regular check-ins with teams and individuals to ensure any mental health issues can be identified and supported as soon as possible</li>
                    <li>Conducting workplace assessments to ensure everyone’s needs are met by their workstation </li>
                    <li>Holding social events to enable staff to engage in a non-work related environment</li>
                </ul>
            </div>
        </div>
    </div>
    {{> footer}}


    <script src="/public/js/menu.js"></script> <!-- Resource jQuery -->

</body>

</html>
