<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}

<div id="service" class="content fullwidth">
    <div class="splash-container-services">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-3-4 pure-u-lg-3-4">
                        <h1 id="block-text">Engage with your users to understand the problem to solve </h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3 main">
            <h2>Are you uncertain about the performance of an existing service? Are you unsure about who your users are? And what it is that they need?</h2>

            <p>We research your landscape, your users, technology and policies so we can define the problem you need to solve grounded in evidence and a deep understanding of your needs. Our approach helps you to create organisational buy-in so you can confidently focus resources to the right areas.</p>

            <p></p>
            
            <h3>What we can do to help</h3>

            <p>When you listen to people you build services that work for them. We map your user groups, your stakeholders and your service landscape so you gain a full understanding of your ecosystem.</p> 

            <p>We then create a plan to speak to a wide range of your users, internal and external to understand their needs, what they are trying to achieve and the challenges they face. Careful consideration is given to all your users - from people with low digital confidence to those who have different access needs - to ensure you have an inclusive approach right from the start.</p>

            <p>You will build an understanding of the user's world, the steps they take and their pain points. This will allow you to identify opportunities for improvements and to ultimately define the problem you need to solve and how to go about solving it.</p>


            <div><img class="img img-border" src="/public/img/sw-workshop-2.jpg" width="100%" alt="Reviewing our user research findings with our clients key stakeholders" /></div>
            <span class="citation image">Reviewing our user research findings with our clients key stakeholders</span>
            
            <h3>The benefits</h3>

            <p>By engaging with your users you gain a deep understanding of their needs while including stakeholders in the research process ensures that there is support and buy-in across your organisation. You have the necessary evidence that allows you to solve the problem that provides the greatest benefits to your organisation and your users to help deliver your objectives.</p>

            <p><a href="/services">See more of our services</a></p>

        </div>
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h4>Procure these services on G-Cloud 13</h4>
            <ul>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/286761414897502">Discovery phase delivery team</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/431074056083361">User research</a></li>
                <li><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/services/988201776369015">Service design</a></li>
            </ul>
        </div>
        
    </div>
</div>

{{> contact}}
{{> footer}}

</body>
</html>
