<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div id="casestudy" class="content fullwidth">
    <div class="splash-container-who">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="pure-g">
                        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                            <h1 id="block-text">Meet the Marvell senior management team</h1>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="whoweare">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img ben">
                        <div></div>
                    </div>
                    Ben Marvell
                </h3>
                <span class="citation">Chief Executive Officer</span>
                <p>
                    Ben is responsible for leadership, strategy and delivery across the organisation. Previously an agile full stack developer with over 15 years’ industry experience, he’s provided expert consultancy to clients including EA, Centrica, Government Digital Service and BSkyB. 
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img aspasia">
                        <div></div>
                    </div>
                    Aspasia Dellaporta    
                </h3>
                <span class="citation">Chief Research Officer</span>
                <p>
                    Aspasia is a highly accomplished research specialist responsible for user engagement and stakeholder management. An accredited user researcher, she has 16 years’ experience supplying the evidence needed to build services for the Home Office, Google and the BBC.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img lenny">
                        <div></div>
                    </div>
                    Lenny Martin
                </h3>
                <span class="citation">Chief Technical Officer</span>
                <p>
                    Lenny is responsible for technical strategy and implementation of software architecture for our clients. He has over 15 years’ experience in lead technical roles for high profile clients including Barclays, British Gas, Government Digital Service and HSBC.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mike">
                        <div></div>
                    </div>
                    Michael Thomas
                </h3>
                <span class="citation">Design lead</span>
                <p>
                    Michael is a usability expert specialising in visual and end-to-end service design. He has over 10 years’ experience working on flagship services for Government Digital Service as well as the Home Office and boutique design agencies such as Applied. 
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mark">
                        <div></div>
                    </div>
                    Mark Stringer
                </h3>
                <span class="citation">Delivery lead</span>
                <p>
                    Mark is a qualified Agile Coach and Scrum Master with nearly two decades’ experience supporting successful project delivery. Previous clients have included Lloyds Bank, JP Morgan Chase and the Ministry of Justice. 
                </p>
        
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content more" id="ourvalues">
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Our values</h2>
                <p> 
                    Our values are: 
                </p>
                <ul>
                    <li>evidence-based - we design and build with data, not opinions  </li>
                    <li>user-centred - we create services based on what people really need</li>
                    <li>agile - we test, learn and iterate  </li>
                    <li>open - we communicate clearly and are honest with our clients</li>
                    <li>bold - we innovate to find the right solutions </li>
                </ul>
                <p class="quote">
                    “Building trust with our clients is everything. They need to see early on that we know what we’re doing and we have their best interests at heart." 
                    <span class="citation">Ben Marvell, CEO, Marvell Consulting</span>
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content more" id="ourvalues">
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Recommendations</h2>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <p class="quote">
                    “Marvell Consulting are very responsive. They’ve really worked with internal teams to increase our knowledge and capabilities.”
                    <span class="citation">Technical Lead, Home Office</span>
                </p>
                <br>
                <p class="quote">
                    “I genuinely believe there’s nothing your team couldn’t handle. What you’ve done is incredible.”
                    <span class="citation">Service Owner, Home Office</span>
                </p>
                <br>
                <p class="quote">
                    “I just want to say: amazing work all! Thank you. Really impressed with [your final] report”
                    <span class="citation">Director, NHSX</span>
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <p class="quote">
                    “This team have worked extremely hard [and built] trust in our ability to create digital services that are genuinely transformative.”
                    <span class="citation">Deputy Director, Home Office</span>
                </p> 
                <br>
                <p class="quote">
                    “Marvell Consulting has been integral in the transformation of [the regulator’s] digital operations. The research, design and build has been exceptional.”
                    <span class="citation">Product Manager, UK regulator</span>
                </p>

            </div>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-alpha">
                        <h3 class="content-subhead">
                            <div class="img asru-alpha">
                                <div></div>
                            </div>
                            Rapidly replacing legacy infrastructure 
                            <span class="citation">UK regulator </span>
                        </h3>
                        <p>
                            We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Championing customer service at home & abroad 
                            <span class="citation">UK visas and immigration – Live</span>
                        </h3>
                        <p>
                            An innovative design for a global complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <h3 class="content-subhead">
                      <div class="img nhsx-discovery">
                          <div></div>
                      </div>
                      Researching ministers' aims to join up health
                      <span class="citation">NHSx </span>
                  </h3>
                  <p>
                      A ministerial ambition for an interoperable NHS was proving hard to achieve. We used evidence to inform a new strategy. 
                  </p>
                  <p>
                      Case study coming soon
                  </p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="lead">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
                <dl class="contact-us">
                    <dt>Email: </dt>
                    <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                    <dt>Phone:</dt>
                    <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                    <dt>Social media:</dt>
                    <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                    <dt>Visit: </dt>
                    <dd>
                        <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                        <br>
                        Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                    </dd>
                </dl>
                
            </div>

    </div>
</div>
{{> footer}}

</body>
</html>
