<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div id="casestudy" class="content fullwidth">
    <div class="splash-container-who">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="pure-g">
                        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                            <h1 id="block-text">Meet the Marvell senior management team</h1>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- <div class="lead-img lead-img-about"></div> -->
    <div class="pure-g">
        <!-- <div class="pure-u-1 title">
            <h1>Who we are</h1>
            <p class="client">The Marvell Consulting senior management team</p>
        </div> -->
        <div class="content" id="whoweare">
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img ben">
                        <div></div>
                    </div>
                    Ben Marvell
                </h3>
                <span class="citation">Chief Executive Officer</span>
                <p>
                    Full stack developer and founder of Marvell Consulting Ltd with 13+ years’ experience delivering digital transformation solutions from alpha to live for clients include the Home Office, EA, Centrica and more.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img aspasia">
                        <div></div>
                    </div>
                    Aspasia Dellaporta    
                </h3>
                <span class="citation">Chief Research Officer</span>
                <p>
                    User researcher accredited with the Market Research Society with 16+ years’ experience researching digital products and services.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img lenny">
                        <div></div>
                    </div>
                    Lenny Martin
                </h3>
                <span class="citation">Chief Technical Officer</span>
                <p>
                    Former GDS technical lead with 15+ years’ experience designing and building software solutions for clients including GOV.UK, Barclays, News International and more.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img nadia">
                        <div></div>
                    </div>
                    Nadia Huq
                </h3>
                <span class="citation">Content design lead</span>
                <p>
                    GOV.UK-trained content designer with 5+ years’ experience designing in-system, front-end and communications content in government scientific and medical sectors.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mike">
                        <div></div>
                    </div>
                    Michael Thomas
                </h3>
                <span class="citation">Visual design lead</span>
                <p>
                    Former GDS designer with 7+ years’ experience delivering service, interaction and visual design for government services.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mark">
                        <div></div>
                    </div>
                    Mark Stringer
                </h3>
                <span class="citation">Delivery lead</span>
                <p>
                    Qualified Agile Coach and Scrum Master with 10+ years’ experience managing agile, multidisciplinary teams in the public and private sectors.
                </p>
            </div>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <a href="/casestudy/asru-alpha">
                      <h3 class="content-subhead">
                          <div class="img asru-alpha">
                              <div></div>
                          </div>
                          Rapidly replacing legacy infrastructure 
                          <span class="citation">UK regulator</span>
                      </h3>
                      <p>
                          We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                      </p>
                  </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Informing a national interoperability strategy 
                            <span class="citation">NHSx</span>
                        </h3>
                        <p>
                          Carrying out a discovery into creating a single place where interoperbility standards could be found.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                            <span class="citation">UK visas and immigration</span>
                        </h3>
                        <p>
                            Designing and building a government complaints service that increased satisfaction rates from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
