<!doctype html>
<html lang="en">
    <head>
        {{> head}}
    </head>
<body>
{{> header}}
<div id="casestudy" class="content fullwidth">
    <div class="splash-container-who">
        <div class="splash-overlay">
            <div class="splash">
                <div class="content" id="">
                    <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                        <h1 id="block-text">About Marvell Consulting</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="whoweare"> 
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Marvell Consulting was set up in 2007 with an ambition to build strong digital services and grow a reputation for excellence and integrity.</h2>

                <h2>Our leadership</h2>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img ben">
                        <div></div>
                    </div>
                    Ben Marvell
                </h3>
                <span class="citation">Chief Executive Officer</span>
                <p>
                    Ben is responsible for leadership, strategy and delivery across the organisation. Previously an agile full stack developer with over 15 years' experience, he’s consulted for clients including EA, Centrica & BSkyB. 
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img aspasia">
                        <div></div>
                    </div>
                    Aspasia Dellaporta    
                </h3>
                <span class="citation">Chief Research Officer</span>
                <p>
                    Aspasia is a research specialist responsible for user research and stakeholder engagement. She has over 16 years’ experience researching services for the Home Office, Google and the BBC.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img lenny">
                        <div></div>
                    </div>
                    Lenny Martin
                </h3>
                <span class="citation">Chief Technical Officer</span>
                <p>
                    Lenny is responsible for technical strategy and software architecture for our clients. He has over 15 years’ experience in lead technical roles for clients including Barclays, British Gas and HSBC.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mike">
                        <div></div>
                    </div>
                    Michael Thomas
                </h3>
                <span class="citation">Design Lead</span>
                <p>
                    Michael is a usability expert specialising in visual and end-to-end service design. He has over 10 years’ experience designing services for Government Digital Service, the Home Office and Applied.
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img mark">
                        <div></div>
                    </div>
                    Mark Stringer
                </h3>
                <span class="citation">Delivery Lead</span>
                <p>
                    Mark is a qualified Agile Coach and Scrum Master with nearly two decades’ experience supporting successful project delivery for clients including Lloyds Bank, JP Morgan Chase & the Ministry of Justice. 
                </p>
        
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="ourvalues">
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Our values</h2>
                <p class="intro-para"> 
                    We are: 
                </p>
                <ul>
                    <li>evidence-based - we design and build with data, not opinions  </li>
                    <li>user-centred - we create services based on what people really need</li>
                    <li>agile - we test, learn and iterate  </li>
                    <li>open - we communicate clearly and are honest with our clients</li>
                    <li>bold - we innovate to find the right solutions </li>
                </ul>
                <p class="quote">
                    “Building trust with our clients is everything. They need to see early on that we know what we’re doing and we have their best interests at heart." 
                    <span class="citation">Ben Marvell, CEO, Marvell Consulting</span>
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="content" id="recommendations">
            <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <h2>Recommendations</h2>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <p class="quote intro-para">
                    “Marvell Consulting are very responsive. They’ve really worked with internal teams to increase our knowledge and capabilities.”
                    <span class="citation">Technical Lead, Home Office</span>
                </p>
                
                <p class="quote">
                    “I genuinely believe there’s nothing your team couldn’t handle. What you’ve done is incredible.”
                    <span class="citation">Service Owner, Home Office</span>
                </p>
                
                <p class="quote">
                    “Marvell Consulting has been integral in the transformation of the Home Office’s digital operations. The research, design and build has been exceptional.”
                    <span class="citation">Product Manager, Home Office</span>
                </p>
            </div>
            <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <p class="quote intro-para">
                    “I just want to say: amazing work all! Thank you. Really impressed with [your final] report”
                    <span class="citation">Director, NHSX</span>
                </p>
                <p class="quote">
                    “This team have worked extremely hard [and built] trust in our ability to create digital services that are genuinely transformative.”
                    <span class="citation">Deputy Director, Home Office</span>
                </p> 
            </div>
        </div>
    </div>
</div>


{{> contact}}

{{> footer}}

</body>
</html>
