/* Marvell Consulting Ltd */
* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-variant-ligatures: no-common-ligatures; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }

body {
  line-height: 3rem;
  color: #112a3e;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif; }

p, li {
  font-weight: 300; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.5rem; }

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

a {
  color: #27ae60; }

.anchor {
  position: relative; }
  .anchor div {
    position: absolute;
    top: -6rem; }

.pure-img-responsive {
  max-width: 100%;
  height: auto; }

.l-box {
  padding: 1rem; }

.l-box-lrg {
  padding: 2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }

.xl-box {
  padding: 1rem 2.5rem; }

.is-center {
  text-align: center; }

.is-right {
  text-align: right; }

h1.logo-thin {
  font-weight: 300;
  margin-top: 13rem; }

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1rem 0 0;
  font-weight: 700;
  font-size: 100%; }

.pure-form input[type],
.pure-form textarea {
  border: 0.2rem solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1rem; }

.splash-container {
  z-index: 1;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; }

.yellow-highlight {
  color: #333333;
  border-radius: 15% 5% / 12% 40%;
  background-image: linear-gradient(to right, transparent 50%, rgba(38, 255, 0, 0.6) 50%);
  background-position: 0;
  background-size: 200%;
  animation: highlighter 1s cubic-bezier(0.6, 0.05, 0.35, 1) 0.5s forwards; }

@keyframes highlighter {
  to {
    background-position: -100%; } }

.splash {
  max-width: 99.5rem;
  margin: 10rem auto auto auto;
  text-align: left;
  padding: 0 2rem; }
  .splash h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.2rem;
    padding-bottom: 0; }
  .splash .speak-out {
    font-size: 2rem;
    color: #ccc; }
  .splash ol {
    width: 100%; }
  .splash p {
    width: 100%;
    letter-spacing: 0.2rem;
    margin-top: 0;
    font-size: 2rem;
    line-height: 3.5rem; }

.splash-subhead {
  color: #112a3e;
  letter-spacing: 0.05rem;
  padding-bottom: 2rem;
  text-transform: inherit; }

.content-wrapper {
  position: absolute;
  top: 48rem;
  width: 100%;
  z-index: 2;
  background: white; }

.content-head-ribbon {
  color: #2ecc71; }

.content-subhead {
  color: #2ecc71; }

#whatwedo h3 {
  margin-bottom: 0; }

#whatwedo p {
  margin-top: 0; }

#whatwedo .pure-g, #casestudies .pure-g, #aboutus .pure-g, #whowehelped .pure-g, #speakwithus .pure-g {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #dee2e6; }

#whowehelped {
  text-align: center; }
  #whowehelped img {
    width: 30rem; }
  #whowehelped h2 {
    text-align: left;
    margin-bottom: 2rem; }

#bigquote a {
  color: #fff;
  text-decoration: none; }

#bigquote a:hover {
  text-decoration: underline; }

#bigquote .lead {
  margin-bottom: 1rem; }

#bigquote p.quote {
  font-weight: 200;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0 0 1rem 0; }

#bigquote p {
  margin: 0;
  font-size: 1.5rem; }

.ribbon {
  background: #112a3e;
  color: #fff; }

.footer {
  font-size: 1.6rem; }

.button-link, a.mc-button {
  background-color: #145b32;
  text-decoration: none;
  color: #fff;
  border-style: solid;
  border-width: 0 0 0.5rem 0;
  border-bottom: solid #1e8449; }
  .button-link:hover, a.mc-button:hover {
    background-color: #104627; }

.content h2 {
  margin-bottom: 0.25rem; }

.lead-img {
  background: #27ae60;
  padding-top: 1rem;
  background: rgba(39, 174, 96, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20rem;
  height: 20rem; }

.lead-img-ukvi {
  background-image: url(/public/img/ukvi-header.jpg); }

.lead-img-asru {
  background-image: url(/public/img/asl-header.jpg); }

.lead-img-casestudies {
  background-image: url(/public/img/casestudies-header.jpg); }

.lead-img-services {
  background-image: url(/public/img/services-header.jpg); }

.lead-img-about {
  background-image: url(/public/img/about-header.jpg); }

#casestudy .lead-in {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.5rem; }

#casestudy h2, #casestudy h3 {
  color: #27ae60; }

#casestudy h1 {
  margin-bottom: 0.5rem; }

#casestudy h2 {
  font-size: 2.5rem; }

#casestudy h3 {
  font-size: 2rem; }

#casestudy .client {
  margin-top: 0; }

#casestudy .bignumber p {
  color: #27ae60;
  margin: 0;
  font-weight: 600; }

#casestudy .bignumber div {
  padding: 0;
  margin-bottom: 4rem; }

#casestudy .bignumber h3 {
  font-size: 8rem;
  line-height: 8rem;
  margin: 0;
  font-weight: 800; }
  #casestudy .bignumber h3 span {
    font-size: 3rem; }

#casestudy .sidebar, #casestudy .main, #casestudy .title {
  padding-left: 2rem;
  padding-right: 2rem; }

#casestudy .sidebar {
  margin-bottom: 2rem; }
  #casestudy .sidebar p {
    margin: 0; }
  #casestudy .sidebar h3:first-child {
    margin-top: 0; }

#casestudy p.quote {
  color: #27ae60;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.5rem;
  border-left: 0.3rem solid #27ae60;
  padding: 0rem 0rem 0rem 2rem; }
  #casestudy p.quote .citation {
    display: block;
    font-size: 1.5rem;
    color: #112a3e;
    font-weight: 300;
    margin-top: 0.5rem; }

#casestudy .more {
  margin-top: 2rem;
  border-top: 0.1rem solid #dee2e6; }

#casestudies .asru {
  background: url(/public/img/pil-example-thumb.jpg); }

#casestudies .ukvi {
  background: url(/public/img/ukvi-thumb.jpg); }

#casestudies .hof {
  background: url(/public/img/hof.jpg); }

#casestudies .img {
  display: block;
  height: 22rem;
  width: 100%;
  margin-bottom: 1rem;
  background-size: 30rem 22rem;
  background-repeat: no-repeat; }
  #casestudies .img div {
    position: absolute;
    height: 22rem;
    width: 30rem; }

#casestudies .case-study-link a {
  text-decoration: none; }
  #casestudies .case-study-link a :hover {
    text-decoration: underline; }
  #casestudies .case-study-link a .more-info {
    text-decoration: underline; }
  #casestudies .case-study-link a p {
    color: #112a3e; }

#casestudies a:hover .img div {
  background: #27ae60;
  opacity: 0.5;
  transition: opacity 0.5s, background 0.5s; }

#casestudies img {
  max-width: 28rem; }

#bigquote {
  background-color: #27ae60;
  text-align: left; }
  #bigquote h3 {
    color: #fff; }

#careers {
  background-color: #89e5b0; }
  #careers p {
    color: #112a3e; }

.fullwidth {
  background: #fff;
  padding: 8rem 0 0 0; }
  .fullwidth h1 {
    margin-top: 3rem;
    line-height: 5rem; }
  .fullwidth h2 {
    margin-top: 4rem; }
  .fullwidth h3 {
    margin-bottom: 0; }
  .fullwidth p {
    margin-top: 0; }

.nosidebar {
  padding-left: 2rem;
  padding-right: 2rem; }

#aboutus .bignumber {
  border-bottom: none; }
  #aboutus .bignumber p {
    margin: 0; }
  #aboutus .bignumber div {
    padding: 0;
    margin-bottom: 4rem; }
  #aboutus .bignumber h3 {
    color: #27ae60;
    font-size: 8rem;
    line-height: 8rem;
    margin: 0;
    font-weight: 800; }
    #aboutus .bignumber h3 span {
      font-size: 3rem; }
  #aboutus .bignumber .xl-box {
    margin-bottom: 0px; }

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 35rem) {
  #whowehelped img {
    width: 20rem; }
  .splash-container {
    background-image: url(../svg/team.svg);
    background-position: -8rem 8rem;
    background-repeat: no-repeat;
    background-size: 128rem;
    height: 80rem; }
  .splash {
    margin: 15rem auto auto auto; }
    .splash h1 {
      width: 50rem;
      font-size: 3rem; }
    .splash ol {
      width: 45rem; }
    .splash p {
      width: 38rem; }
  .content-wrapper {
    top: 68rem; }
  .lead-img {
    height: 50rem;
    background-size: auto 50rem; } }

@media (min-width: 55rem) {
  .splash-container {
    background-position: calc(50% + 10rem) 8rem; }
  .pure-g {
    overflow: hidden;
    max-width: 110rem;
    min-width: 76.8rem;
    margin: 0 auto; }
  #bigquote p.quote {
    font-size: 3.5rem;
    line-height: 4.5rem; }
  #bigquote p {
    font-size: 2.5rem; }
  .lead-img {
    height: 50rem;
    background-size: auto 100%; } }

@media (min-width: 64rem) {
  #whowehelped img {
    max-width: 15rem; } }

@media (min-width: 141rem) {
  .lead-img {
    height: 50rem;
    background-size: 100% auto; }
  .lead-img-ukvi {
    background-size: auto 50rem; } }

/*
 * -- MENU STYLES --
 */
.home-menu {
  box-shadow: 0 0.1rem 0.1rem #dee2e6; }

.home-menu {
  background: #fff; }

.pure-menu-link {
  padding: .5rem 1rem .5rem 0.5rem !important; }

.pure-menu.pure-menu-fixed {
  z-index: 4; }

.home-menu .pure-menu-heading {
  font-weight: 800;
  padding: 1rem 0rem 0 2rem; }

.home-menu .pure-menu-selected a {
  color: #fff; }

.home-menu a {
  color: #112a3e; }

.right {
  text-align: right; }

.home-menu li {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;
  padding-top: 3rem; }

.open li {
  padding: 1rem; }

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #27ae60; }

/* Custom menu */
.mc-logo img {
  width: 25rem;
  display: block;
  float: left;
  padding-top: 1rem; }

.custom-wrapper {
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  height: 7.5rem;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s; }

.custom-wrapper.open {
  height: 27rem;
  margin-bottom: 0; }

.custom-menu-3 {
  text-align: right; }

.custom-toggle {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none; }

.custom-toggle .bar {
  background: #112a3e;
  display: block;
  width: 2.8rem;
  height: .4rem;
  border-radius: 10rem;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.custom-toggle .bar:first-child {
  background: #112a3e;
  -webkit-transform: translateY(-0.6rem);
  -moz-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem); }

.custom-toggle.x .bar {
  background: #112a3e;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media (max-width: 51em) {
  .pure-menu-horizontal .pure-menu-heading {
    display: block !important; }
  .pure-menu-horizontal .pure-menu-item {
    display: block !important; }
  .home-menu li {
    padding-top: 1rem; }
  .custom-menu-3 {
    text-align: left; }
  .custom-toggle {
    display: block; }
  .header .pure-u-md-2-3 {
    width: 100%; } }

.certs div:first-of-type {
  margin-right: 2rem; }

.certs div {
  display: inline-block;
  margin-top: 1rem; }
