$mc-blue: #112a3e;
$mc-lgreen: #2ecc71;
$mc-green: #27ae60;
$mc-white: #fff;
$mc-green-tint: lighten($mc-green, 30%);
$mc-green-darker: darken($mc-green, 20%);
$mc-grey: #dee2e6;
$mc-grey-darker: #505a5f;

@mixin mc-gradient {
  background: $mc-lgreen; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $mc-lgreen ,$mc-green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $mc-lgreen, $mc-green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $mc-lgreen, $mc-green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, $mc-lgreen ,$mc-green); /* Standard syntax */
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-variant-ligatures: no-common-ligatures;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}



body {
    line-height: 3rem;
    color: $mc-blue;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

p, li  {font-weight: 300;}

h1 { 
  font-size: 4rem;
  line-height: 1.2;
}

h2 { 
  font-size: 3.5rem;
  line-height: 1.2;
}

h3 { 
  font-size: 2.5rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
}

a {
  color: $mc-green;
}

.anchor {
  position: relative;

  div {
    position: absolute;
    top: -6rem;
  }
}

.pure-menu-list {
    // text-transform: uppercase;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1rem;
}

.l-box-lrg {
    padding: 2rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
}

.xl-box {
  padding: 0.5rem 1rem;
}

.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}

h1.logo-thin {
  font-weight: 300;
  margin-top: 13rem;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1rem 0 0;
    font-weight: 700;
    font-size: 100%;
}

.pure-form input[type],
.pure-form textarea {
    border: 0.2rem solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

a.mc-button {
  @extend .button-link;
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}



.yellow-highlight {
  color: lighten(#000,20%);
  border-radius: 15% 5% / 12% 40%;
  background-image: linear-gradient(to right,transparent 50%,rgba(38,255,0,0.6) 50%);
  background-position: 0;
  background-size:200%;
  animation: highlighter 1s cubic-bezier(0.6, 0.05, 0.35, 1) 0.5s forwards;
}

@keyframes highlighter {
  to {
       background-position: -100%;
   }
}

.splash {
    max-width: 99.5rem;
    margin: 10rem auto auto auto;
    text-align: left;
    padding: 0 2rem;

  h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.2rem;
    padding-bottom: 0;
  }

  .speak-out {
    font-size: 2rem;
    color: #ccc;
  }

  ol {
    width: 100%;
  }

  p {
    width: 100%;
    letter-spacing: 0.2rem;
    margin-top: 0;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.splash-subhead {
    color: $mc-blue;
    letter-spacing: 0.05rem;
    padding-bottom: 2rem;
    text-transform: inherit;
}

.content-wrapper {
    position: absolute;
    top: 48rem;
    width: 100%;
    z-index: 2;
    background: white;
}

.content-head-ribbon {
    color: $mc-lgreen;
}

.content-subhead{
    color: $mc-lgreen;
    .citation {
      padding-top: 0.5rem;
    }
}

#whatwedo {
  // h3{
  //   margin-bottom: 0;
  // }
  // p {
  //   margin-top: 0;
  // }
  .capability {
    margin-top: 0px;
  }

  .marvell {background:url(/public/img/team2.jpg);}
  .img-hero {
    display: block;
    height: 40rem;
    width: 100%;
    margin-bottom: 1rem;
    background-size: 60rem 40rem;
    background-repeat: no-repeat;

    div {
      position: absolute;
      height: 40rem;
      width: 60rem;
    }
  }
}

#whatwedo, #casestudies, #whoweare, #aboutus, #whowehelped, #speakwithus {
  .pure-g {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $mc-grey;
  }
  .pure-g.no-border {
      padding-bottom: 0px;
      border-bottom: none;
  }
}

#whowehelped {
  img {
    text-align: center;
    width: 30rem;
  }
  h2 {
    text-align: left;
    margin-bottom: 2rem;
  }
  p {
    text-align: left;
  }
  p.quote {
    color: $mc-green;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.5rem;
    border-left: 0.3rem solid $mc-green;
    padding: 0rem 0rem 0rem 2rem;

    .citation {
      display: block;
      font-size: 1.5rem;
      color: $mc-blue;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
}


#bigquote {
  a {
    color: $mc-white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .lead {
    margin-bottom: 1rem;
  }
}

#bigquote {
  p.quote {
    font-weight: 200;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0;
    font-size: 1.5rem;
  }
}

.ribbon {
    background: $mc-blue;
    color: $mc-white;
}

.footer {
    font-size: 1.6rem;
}

.button-link {
  background-color: darken($mc-green, 5%);
  padding: 12px 12px 10px 12px;
  text-decoration: none;
  color: $mc-white;
  border-style: solid;
  border-width: 0 0 0.5rem 0;
  border-bottom: solid darken($mc-green, 10%);
  &:hover{
    background-color: darken($mc-green, 25%);
  }
}

.content {
  h2 {
    margin-bottom: 0.25rem;
  }
  h3 {
    margin-bottom: 0.25rem;
  }
  h4 {
    margin-bottom: 0.2rem;
  }
}

.lead-img {
  background: $mc-green;
  padding-top: 1rem;
  background: rgba(39,174,96, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20rem;
  height: 20rem;
  border-bottom: 1px solid $mc-grey;
}

.lead-img-ukvi {
  background-image: url(/public/img/ukvi-header.jpg);
}

.lead-img-rotm {
  background-image: url(/public/img/rotm-header.jpg);
}

.lead-img-hof {
  background-image: url(/public/img/hof-header.jpg);
}

.lead-img-asru-alpha {
background-image: url(/public/img/asl-alpha-header.png);
}

.lead-img-asru-beta {
background-image: url(/public/img/asl-beta-header.jpg);
}

.lead-img-nhsx-discovery {
  background-image: url(/public/img/nhsxdiscovery-header.jpg);
}

.lead-img-nhsx-alpha {
  background-image: url(/public/img/nhsxalpha-header.jpg);
}

.lead-img-modern-slavery {
  background-image: url(/public/img/ms-header.jpg);
}

.lead-img-ho-live {
  background-image: url(/public/img/live-header.png);
}

.lead-img-casestudies {
  background-image: url(/public/img/casestudies-header.jpg);
}

.lead-img-services {
  background-image: url(/public/img/services-header.jpg);
}

.lead-img-about {
  background-image: url(/public/img/about-header.jpg);
}

.lead-img-contact {
  background-image: url(/public/img/contact-header.jpg);
}

#casestudy, #services {
  .lead-in {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;
  }

  h2, h3 {
    color: $mc-green;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .client {
    margin-top: 0;
  }

  .bignumber {
    p {
      color: $mc-green;
      margin: 0;
      font-weight: 600;
    }

    div {
      padding: 0;
      margin-bottom: 4rem;
    }


    h3{
      font-size: 8rem;
      line-height: 8rem;
      margin: 0;
      font-weight: 800;

      span {
        font-size: 3rem;
      }
    }
  }

  .services-header h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .services-sidebar h3 {
    margin-top: 0px;
  }

  .sidebar, .main, .title {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sidebar {
    margin-bottom: 2rem;
    p {
      margin: 0;
    }

    h3:first-child {
      margin-top: 0;
    }
  }

  .intro-para {
    margin-top: 2.5rem;
  }

  p.quote {
    color: $mc-green;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.5rem;
    border-left: 0.3rem solid $mc-green;
    padding: 0rem 0rem 0rem 2rem;

    .citation {
      display: block;
      font-size: 1.5rem;
      color: $mc-blue;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }

  .more {
    margin-top: 2rem;
    border-top: 0.1rem solid $mc-grey;
  }
}

.logos-container {
  text-align: center;
}

#casestudies, #whoweare, #whatwedo {
  .research {background:url(/public/img/research-thumb.jpg);}
  .design {background:url(/public/img/design-thumb.jpg);}
  .deliver {background:url(/public/img/deliver-thumb.jpg);}
  .asru-alpha {background:url(/public/img/asl-alpha-thumb.jpg);}
  .asru-beta {background:url(/public/img/asl-beta-thumb.jpg);}
  .ukvi {background:url(/public/img/ukvi-thumb.jpg);}
  .hof {background:url(/public/img/hof-thumb.jpg);}
  .brp {background:url(/public/img/brp-thumb.jpg);}
  .rotm {background:url(/public/img/rotm-thumb.jpg);}
  .wiley {background:url(/public/img/wiley-thumb.png);}
  .marvell {background:url(/public/img/team2.jpg);}
  .nhsx-discovery {background:url(/public/img/nhsx-eco.png); border: 1px solid #dee2e6;}
  .nhsx-alpha {background:url(/public/img/nhsxalpha-thumb.png);}
  .modern-slavery {background:url(/public/img/ms-thumb.png);}
  .ho-live {background:url(/public/img/ho-live-thumb.png);}
  .ben {background:url(/public/img/headshot-ben.jpg);}
  .aspasia {background:url(/public/img/headshot-aspasia.jpg);}
  .mike {background:url(/public/img/headshot-mike.jpg);}
  .mark {background:url(/public/img/headshot-mark.jpg);}
  .lenny {background:url(/public/img/headshot-lenny.jpg);}
  .lev {background:url(/public/img/headshot-missing.jpg);}

  .img {
    display: block;
    height: 22rem;
    width: 100%;
    margin-bottom: 1rem;
    background-size: 30rem 22rem;
    background-repeat: no-repeat;
    background-size: cover;

    div {
      position: absolute;
      height: 22rem;
      width: 35rem;
    }
  
  }
    
  .citation {
    display: block;
    font-size: 1.5rem;
    color: $mc-blue;
    font-weight: bold;
  }

  .lead-in {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }
    
  .img-hero {
    display: block;
    height: 40rem;
    width: 100%;
    margin-bottom: 1rem;
    background-size: 60rem 40rem;
    background-repeat: no-repeat;
    background-size: cover;

    div {
      position: absolute;
      height: 40rem;
      width: 60rem;
    }
  }

  .case-study-link {
    a {
      text-decoration: none;
      :hover{
        text-decoration: underline;
      }
      .more-info{
        text-decoration: underline;
      }
  
      p {
        color: $mc-blue;
      }
    }
  }

  a:hover {
    .img {
      div {
        background: $mc-green;
        opacity: 0.5;
        transition: opacity 0.5s, background 0.5s;
      }
    }
  }

  // img {
  //   max-width: 28rem;
  // }
}


#bigquote {
  background-color: $mc-green;
  text-align: left;
  h3 {
    color: $mc-white;
  }
}

#careers {
  background-color: $mc-green-tint;
  p {
    color: $mc-blue;
  }
}

.fullwidth {
  background: $mc-white;
  padding: 8rem 0 0 0;

  h1 {
    margin-top: 3rem;
    line-height: 5rem;
  }
  
  h2 {
    margin-top: 4rem;
    margin-top: 1.2;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.nosidebar {
  padding-left: 2rem;
  padding-right: 2rem;
}

#aboutus, #whowehelped {
  .bignumber {
    border-bottom: none;
    p {
      margin: 0;
    }
  
    div {
      padding: 0 0 0 1em;
      margin-bottom: 4rem;
    }
  
  
    h3{
      color: $mc-green;
      font-size: 8rem;
      line-height: 8rem;
      margin: 0;
      font-weight: lighter;
  
      span {
        font-size: 3rem;
      }
    }
    .xl-box {
      margin-bottom: 0px;
    }
    .stat-symbol {
      font-size: 6rem;
    }
  }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 35rem) {
  #whowehelped {
    img {
      width: 20rem;
    }
  }
  .splash-container {
    background-image: url(../img/office-header.jpg);
    background-position: center;
    background-size: cover; 
    height: 65rem;
  }

  .splash-container-casestudies {
    background-image: url(../img/casestudies-header.jpg);
    height: 50rem;
    background-position: center;
    background-size: cover; 
  }

  .splash-container-who {
    background-image: url(../img/about-header.jpg);
    height: 50rem;
    background-position: center; 
    background-size: cover;
  }

  .splash-container-services {
    background-image: url(../img/services-header.jpg);
    height: 50rem;
    background-position: center; 
    background-size: cover;
  }

  .splash-container-about {
    background-image: url(../img/office-header.jpg);
    height: 50rem;
    background-position: center; 
    background-size: cover;
  }

  .splash-container-contact {
    background-image: url(../img/contact-header.jpg);
    height: 50rem;
    background-position: center; 
    background-size: cover;
  }

  .splash-overlay-home{
    background: rgba(	17, 42, 62 ,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }
  
  .splash-overlay{
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }

  .splash {
    margin: 23rem auto auto auto;
    h1 {
      width: 50rem;
      font-size: 3rem;
    }
    ol{
      width: 45rem;
    }
    p {
      width: 38rem;
    }
  }
  .content-wrapper {
    top: 65rem;
  }

  .lead-img {
    height: 50rem;
    background-size: auto 50rem;
  }
}
@media (min-width: 55rem) {
  .splash-container {
    background-position: calc(50% + 10rem) 8rem;
  }

  .pure-g {
    overflow: hidden;
    max-width: 110rem;
    min-width: 76.8rem;
    margin: 0 auto;
  }

  #bigquote {
    p.quote {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }

    p {
      font-size: 2.5rem;
    }
  }

  .lead-img {
    height: 50rem;
    background-size: auto 100%;
  }
}

@media (min-width: 60rem) {
}

@media (min-width: 64rem) {
  #whowehelped {
    img {
      max-width: 15rem;
    }
  }
}

@media (min-width: 141rem) {
  .lead-img {
    height: 50rem;
    background-size: 100% auto;
  }

  .lead-img-ukvi {
    background-size: auto 50rem;
  }

  .lead-img-asru,
  .lead-img-casestudies {
    background-size: auto 50rem;
  }
}

/*
 * -- MENU STYLES --
 */

.home-menu {
    box-shadow: 0 0.1rem 0.1rem $mc-blue;
}
.home-menu {
    background: $mc-blue;
}
.pure-menu-link {
    padding: .5rem 1rem .5rem 0.5rem !important;
}
.pure-menu.pure-menu-fixed {
    z-index: 4;
}

.home-menu .pure-menu-heading {
    font-weight: 800;
    padding: 1rem 0rem 0 2rem;
}

.home-menu .pure-menu-selected a {
    color: $mc-white;
}

.home-menu a {
    color: $mc-white;
}

.right {
  text-align: right;
}

.home-menu li {
    font-size: 1.6rem;
    line-height: normal;
    font-weight: normal;
    padding-top: 3rem;
}

.open li {
  padding: 1rem;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: $mc-green;
}


/* Custom menu */
.mc-logo img {
    width: 25rem;
    display: block;
    float: left;
    padding-top: 1rem;
}
.custom-wrapper {
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  height: 7.5rem;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 27rem;
  margin-bottom: 0;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
}

.custom-toggle .bar {
  background: $mc-white;
  display: block;
  width: 2.8rem;
  height: .4rem;
  border-radius: 10rem;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  background: $mc-white;
  -webkit-transform: translateY(-.6rem);
  -moz-transform: translateY(-.6rem);
  -ms-transform: translateY(-.6rem);
  transform: translateY(-.6rem);
}

.custom-toggle.x .bar {
  background: $mc-white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 51em) {

  .pure-menu-horizontal .pure-menu-heading {
    display: block !important;
  }

  .pure-menu-horizontal .pure-menu-item {
    display: block !important;
  }

  .home-menu li {
    padding-top: 1rem;
  }

  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }

  .header {
    .pure-u-md-2-3 {
      width: 100%
    }
  }

}

.certs{
  div:first-of-type {
    margin-right: 2rem;
  }

  div {
    display: inline-block;
    margin-top: 1rem;
  }
}

#lost {
  .splash-head, .splash-subhead {
    width: 100%;
    margin-top: 1em;
    padding-bottom: 0;
  };
}

#block-text {
  padding: 0 0 5px;
  font-size: 4.5rem;
  font-weight: lighter;
  color: #fff;
  background-color: $mc-green;
  display: inline;
  line-height: 1.4em;
  text-align: left;
  box-shadow: 15px 0 0 $mc-green, -15px 0 0 $mc-green;
  -webkit-box-decoration-break: clone;
}

.citation.image {
  display: block;
  font-size: 1.5rem;
  // color: $mc-grey-darker;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.img-outline {
  border: 1px solid $mc-grey;
}


dl.contact-us {
  font-weight: 300;

  dt {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    padding-bottom: 0.5em;
  }
  dd {
    display: inline-block;
    width: 75%;
  }
}

.img-border {
  border: 0.1rem solid $mc-grey;
}