$mc-blue: #112a3e;
$mc-lgreen: #2ecc71;
$mc-green: #27ae60;
$mc-white: #fff;
$mc-green-tint: lighten($mc-green, 30%);
$mc-green-darker: darken($mc-green, 20%);
$mc-grey: #dee2e6;

@mixin mc-gradient {
  background: $mc-lgreen; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $mc-lgreen ,$mc-green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $mc-lgreen, $mc-green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $mc-lgreen, $mc-green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, $mc-lgreen ,$mc-green); /* Standard syntax */
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-variant-ligatures: no-common-ligatures;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    line-height: 3rem;
    color: $mc-blue;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

p, li  {font-weight: 300;}
h1 { font-size: 4rem;}
h2 { font-size: 3.5rem;}
h3 { font-size: 2.5rem;}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  color: $mc-green;
}

.anchor {
  position: relative;

  div {
    position: absolute;
    top: -6rem;
  }
}

.pure-menu-list {
    // text-transform: uppercase;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1rem;
}

.l-box-lrg {
    padding: 2rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
}

.xl-box {
  padding: 1rem 2.5rem;
}

.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}

h1.logo-thin {
  font-weight: 300;
  margin-top: 13rem;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1rem 0 0;
    font-weight: 700;
    font-size: 100%;
}

.pure-form input[type],
.pure-form textarea {
    border: 0.2rem solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

// .mc-button {
//   display: inline-block;
//   font-weight: 700;
//   // text-transform: uppercase;
//   padding: .5rem 1rem;
//   margin-top: 1rem;
//   border: 0.1rem solid darken($mc-green, 10%);
//   border: transparent;
//   background-color: $mc-green-darker;
//   text-decoration: none;
//   border-radius: 0.4rem;
//   color: $mc-white;
//   p a {
//     color: $mc-white;
//   }
// }

a.mc-button {
  @extend .button-link;
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}



.yellow-highlight {
  // padding: 0rem 0.7rem 0rem 0.8rem; 
  color: lighten(#000,20%);
  border-radius: 15% 5% / 12% 40%;
  background-image: linear-gradient(to right,transparent 50%,rgba(38,255,0,0.6) 50%);
  background-position: 0;
  background-size:200%;
  animation: highlighter 1s cubic-bezier(0.6, 0.05, 0.35, 1) 0.5s forwards;
}

@keyframes highlighter {
  to {
       background-position: -100%;
   }
}

.splash {
    max-width: 99.5rem;
    margin: 10rem auto auto auto;
    text-align: left;
    padding: 0 2rem;

  h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.2rem;
    padding-bottom: 0;
  }

  .speak-out {
    font-size: 2rem;
    color: #ccc;
  }

  ol {
    width: 100%;
  }

  p {
    width: 100%;
    letter-spacing: 0.2rem;
    margin-top: 0;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.splash-subhead {
    color: $mc-blue;
    letter-spacing: 0.05rem;
    padding-bottom: 2rem;
    text-transform: inherit;
}

.content-wrapper {
    position: absolute;
    top: 48rem;
    width: 100%;
    z-index: 2;
    background: white;
}

.content {
    // padding: 1rem;
}

.content-head-ribbon {
    color: $mc-lgreen;
}

.content-subhead{
    color: $mc-lgreen;
}

#whatwedo {
  h3{
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

#whatwedo, #casestudies, #aboutus, #whowehelped, #speakwithus {
  .pure-g {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $mc-grey;
  }
}

#whowehelped {
  text-align: center;
  img {
    width: 30rem;
  }
  h2 {
    text-align: left;
    margin-bottom: 2rem;
  }
}


#bigquote {
  a {
    color: $mc-white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .lead {
    margin-bottom: 1rem;
  }
}

#bigquote {
  p.quote {
    font-weight: 200;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0;
    font-size: 1.5rem;
  }
}

.ribbon {
    background: $mc-blue;
    color: $mc-white;
}

.footer {
    font-size: 1.6rem;
}

.button-link {
  background-color: darken($mc-green, 20%);
  text-decoration: none;
  color: $mc-white;
  border-style: solid;
  border-width: 0 0 0.5rem 0;
  border-bottom: solid darken($mc-green, 10%);
  &:hover{
    background-color: darken($mc-green, 25%);
  }
}

.content {
  h2 {
    margin-bottom: 0.25rem;
  }
}

.lead-img {
  background: $mc-green;
  padding-top: 1rem;
  background: rgba(39,174,96, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20rem;
  height: 20rem;
}

.lead-img-ukvi {
  background-image: url(/public/img/ukvi-header.jpg);
}

.lead-img-asru {
  background-image: url(/public/img/asl-header.jpg);
}

.lead-img-casestudies {
  background-image: url(/public/img/casestudies-header.jpg);
}

.lead-img-services {
  background-image: url(/public/img/services-header.jpg);
}

.lead-img-about {
  background-image: url(/public/img/about-header.jpg);
}

#casestudy {
  .lead-in {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;
  }

  h2, h3 {
    color: $mc-green;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .client {
    margin-top: 0;
  }

  .bignumber {
    p {
      color: $mc-green;
      margin: 0;
      font-weight: 600;
    }

    div {
      padding: 0;
      margin-bottom: 4rem;
    }


    h3{
      font-size: 8rem;
      line-height: 8rem;
      margin: 0;
      font-weight: 800;

      span {
        font-size: 3rem;
      }
    }
  }

  .sidebar, .main, .title {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sidebar {
    margin-bottom: 2rem;
    p {
      margin: 0;
    }

    h3:first-child {
      margin-top: 0;
    }
  }

  p.quote {
    color: $mc-green;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.5rem;
    border-left: 0.3rem solid $mc-green;
    padding: 0rem 0rem 0rem 2rem;

    .citation {
      display: block;
      font-size: 1.5rem;
      color: $mc-blue;
      font-weight: 300;
      margin-top: 0.5rem;
    }
  }

  .more {
    margin-top: 2rem;
    border-top: 0.1rem solid $mc-grey;
  }
}

#casestudies {
  .asru {background:url(/public/img/pil-example-thumb.jpg);}
  .ukvi {background:url(/public/img/ukvi-thumb.jpg);}
  .hof {background:url(/public/img/hof.jpg);}

  .img {
    display: block;
    height: 22rem;
    width: 100%;
    margin-bottom: 1rem;
    background-size: 30rem 22rem;
    background-repeat: no-repeat;

    div {
      position: absolute;
      height: 22rem;
      width: 30rem;
    }

    // div:hover {
    //   background: $mc-green;
    //   opacity: 0.5;
    // }
  }

  .case-study-link {
    a {
      text-decoration: none;
      :hover{
        text-decoration: underline;
      }
      .more-info{
        text-decoration: underline;
      }
  
      p {
        color: $mc-blue;
      }
    }
  }

  a:hover {
    .img {
      div {
        background: $mc-green;
        opacity: 0.5;
        transition: opacity 0.5s, background 0.5s;
      }
    }
  }


  // h2 {
  //   color: $mc-lgreen;
  // }

  img {
    max-width: 28rem;
  }
}


#bigquote {
  background-color: $mc-green;
  text-align: left;
  h3 {
    color: $mc-white;
  }
}

#careers {
  background-color: $mc-green-tint;
  p {
    color: $mc-blue;
  }
}

.fullwidth {
  background: $mc-white;
  padding: 8rem 0 0 0;

  h1 {
    margin-top: 3rem;
    line-height: 5rem;
  }
  
  h2 {
    margin-top: 4rem;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.nosidebar {
  padding-left: 2rem;
  padding-right: 2rem;
}

#aboutus {
  .bignumber {
    border-bottom: none;
    p {
      margin: 0;
    }
  
    div {
      padding: 0;
      margin-bottom: 4rem;
    }
  
  
    h3{
      color: $mc-green;
      font-size: 8rem;
      line-height: 8rem;
      margin: 0;
      font-weight: 800;
  
      span {
        font-size: 3rem;
      }
    }
    .xl-box {
      margin-bottom: 0px;
    }
  }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 35rem) {
  #whowehelped {
    img {
      width: 20rem;
    }
  }
  .splash-container {
    background-image: url(../svg/team-d-a-b-l.svg);
    background-position: -8rem 8rem;
    background-repeat: no-repeat;
    background-size: 128rem;
    height: 80rem;
  }
  .splash {
    margin: 15rem auto auto auto;
    h1 {
      width: 50rem;
      font-size: 3rem;
    }
    ol{
      width: 45rem;
    }
    p {
      width: 38rem;
    }
  }
  .content-wrapper {
    top: 68rem;
  }

  .lead-img {
    height: 50rem;
    background-size: auto 50rem;
  }
}
@media (min-width: 55rem) {
  .splash-container {
    background-position: calc(50% + 10rem) 8rem;
  }

  .pure-g {
    overflow: hidden;
    max-width: 110rem;
    min-width: 76.8rem;
    margin: 0 auto;
  }

  #bigquote {
    p.quote {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }

    p {
      font-size: 2.5rem;
    }
  }

  .lead-img {
    height: 50rem;
    background-size: auto 100%;
  }
}

@media (min-width: 60rem) {
}

@media (min-width: 64rem) {
  #whowehelped {
    img {
      max-width: 15rem;
    }
  }
}

@media (min-width: 141rem) {
  .lead-img {
    height: 50rem;
    background-size: 100% auto;
  }

  .lead-img-ukvi {
    background-size: auto 50rem;
  }

  .lead-img-asru,
  .lead-img-casestudies {
    background-size: auto 50rem;
  }
}

/*
 * -- MENU STYLES --
 */

.home-menu {
    box-shadow: 0 0.1rem 0.1rem $mc-grey;
}
.home-menu {
    background: $mc-white;
}
.pure-menu-link {
    padding: .5rem 1rem .5rem 0.5rem !important;
}
.pure-menu.pure-menu-fixed {
    z-index: 4;
}

.home-menu .pure-menu-heading {
    font-weight: 800;
    padding: 1rem 0rem 0 2rem;
}

.home-menu .pure-menu-selected a {
    color: $mc-white;
}

.home-menu a {
    color: $mc-blue;
}

.right {
  text-align: right;
}

.home-menu li {
    font-size: 1.6rem;
    line-height: normal;
    font-weight: normal;
    padding-top: 3rem;
}

.open li {
  padding: 1rem;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: $mc-green;
}


/* Custom menu */
.mc-logo img {
    width: 25rem;
    display: block;
    float: left;
    padding-top: 1rem;
}
.custom-wrapper {
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  height: 7.5rem;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 27rem;
  margin-bottom: 0;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
}

.custom-toggle .bar {
  background: $mc-blue;
  display: block;
  width: 2.8rem;
  height: .4rem;
  border-radius: 10rem;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  background: $mc-blue;
  -webkit-transform: translateY(-.6rem);
  -moz-transform: translateY(-.6rem);
  -ms-transform: translateY(-.6rem);
  transform: translateY(-.6rem);
}

.custom-toggle.x .bar {
  background: $mc-blue;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 51em) {

  .pure-menu-horizontal .pure-menu-heading {
    display: block !important;
  }

  .pure-menu-horizontal .pure-menu-item {
    display: block !important;
  }

  .home-menu li {
    padding-top: 1rem;
  }

  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }

  .header {
    .pure-u-md-2-3 {
      width: 100%
    }
  }

}

.certs{
  div:first-of-type {
    margin-right: 2rem;
  }

  div {
    display: inline-block;
    margin-top: 1rem;
  }
}

#lost {
  .splash-head, .splash-subhead {
    width: 100%;
    margin-top: 1em;
    padding-bottom: 0;
  };
}
