<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div class="content fullwidth">
    <div class="pure-g">
        <div class="pure-u-1-24"> </div>
        <div class="pure-u-22-24">
            <h1>Content Editor - Contract (outside IR35)</h1>

            <h3>Summary of the work</h3>
            <p>Marvell Consulting is currently building an online directory of data and information standards for the NHS. The purpose of the directory is to signpost users to the standards required to collect and share information consistently.</p>

            <p>The directory is not yet live. It is currently being populated with standards and we need an experienced content editor to oversee this process. This includes ensuring content is clear, accurate and correctly tagged to the appropriate categories.</p>

            <p>Once the site is live you will be the main person responsible for keeping the site up to date. This includes by:</p>
            <ul>
                <li>liaising with stakeholders to keep their standard pages up to date</li>
                <li>managing an inbox of queries from people using the directory</li>
                <li>using site monitoring tools and user feedback to suggest improvements to standard pages and the wider directory</li>
                <li>helping draft internal processes for keeping the site up to date</li>
            </ul>

            <p>You may also be called upon to help improve the design of the front-end interface in response to user feedback - for example, by improving page titles or other content. Content or UX design experience is therefore beneficial although we can offer coaching in this area.</p>

            <h3>Level</h3>
            <p>Mid-weight</p>

            <h3>Expected contract length</h3>
            <p>6 month contract, outside IR35</p>

            <h3>Start date</h3>
            <p>As soon as possible</p>

            <h3>Working arrangements</h3>
            <p>Full-time work, 9am - 5pm.</p>

            <h3>Location</h3>
            <p>Remote work and occasional travel to our office in the London Bridge area.</p>

            <h3>Phase of the project</h3>
            <p>Beta</p>

            <h3>Security clearance</h3>
            <p>Not required</p>

            <h3>You will have:</h3>
            <ul>
                <li>Experience of using content management systems to add, edit and archive content</li>
                <li>Experience of writing in Plain English and adhering to style guides</li>
                <li>Experience working with stakeholders to edit and publish their content </li>
                <li>Experience or ability to draft internal processes for managing content management systems</li>
                <li>Ability to work collaboratively with other team members as well as working individually</li>
                <li>The initiative to make recommendations and present them to others</li>
                <li>A flexible approach and willingness to adapt as the service evolves</li>
            </ul>

            <h3>It would also be great if you have:</h3>
            <ul>
                <li>Experience as a content designer or creating user-centred content for digital services</li>
                <li>Experience of iterative, agile ways of working</li>
                <li>Experience working in health and social care, government or public sector</li>
                <li>Knowledge of accessibility best practice </li>
                <li>Experience working with data standards or information standards</li>
            </ul>

            <h3>About us</h3>
            <p>Marvell Consulting have a track record of creating digital services that help people thrive. We are:</p>
            <ul>
                <li>evidence-based - we design and build with data, not opinions</li>
                <li>user-centred - we create services based on what people really need</li>
                <li>agile - we test, learn and iterate</li>
                <li>open - we communicate clearly and are honest with our clients</li>
                <li>bold - we innovate to find the right solutions</li>
            </ul>

            <h3>To apply for this job...</h3>
            <p>Please send a CV to <a href="mailto:talent@marvell.consulting">talent@marvell.consulting</a> if you have the relevant skills and experience, and you are interested in this role.</p>
        </div>
        <div class="pure-u-1-24"> </div>
    </div>
</div>
{{> footer}}

</body>
</html>
