<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div class="content fullwidth">
    <div class="pure-g">
        <div class="pure-u-1-24"> </div>
        <div class="pure-u-22-24">
            <h1>Content Designer - Contract</h1>

            <h2>Summary of the work</h2>
            <p>The content designer is responsible for creating, updating and reviewing content around end-to-end user journeys and is comfortable using evidence, data and research.</p>

            <h2>Start date</h2>
            <p>August 2020</p>

            <h2>Expected contract length</h2>
            <p>6-12 Months</p>

            <h2>Location</h2>
            <p>London Bridge area with some travel to other locations in the UK.</p>

            <h2>Working arrangements</h2>
            <p>The content designer must be available to be onsite at least 3 days a week. Please note that this role is deemed to be outside of the HMRC IR35 Regulations.</p>

            <h2>Security clearance</h2>
            <p>CTC or SC level is preferable. Support can be provided to gain security clearance for the suitable candidate.</p>

            <h2>Essential skills and experience</h2>
            <ul>
                <li>Proven ability to design content to meet user needs and make complex language and processes easy to understand</li>
                <li>Ability to contribute to and use style guides and design patterns</li>
                <li>Ability to communicate with stakeholders clearly and regularly, clarifying mutual needs and commitments through consultation and consideration of impacts whilst focusing on user needs</li>
                <li>Ability to put users first and manage competing priorities</li>
            </ul>

            <h2>Nice-to-have skills and experience</h2>
            <ul>
                <li>Experience within government services</li>
                <li>Experience of designing content for complex transactional services</li>
            </ul>

            <h2>To apply for this job...</h2>
            <p>Please send a CV to <a href="mailto:talent@marvell.consulting">talent@marvell.consulting</a> if you have the relevant skills and experience, and you are interested in this role.</p>

        </div>
        <div class="pure-u-1-24"> </div>
    </div>
</div>
{{> footer}}

</body>
</html>
