<!doctype html>
<html lang="en">
{{> partials-head}}
<body>
{{> partials-header}}

<div class="content job">
    <div class="pure-g">
        <div class="pure-u-1-4"> </div>
        <div class="pure-u-1-2">
            <h1>Interaction Designer</h1>

            <h2>Summary of the work</h2>
            <p>The senior interaction designer will lead the design of a licensing system based on identified user needs.</p>
            <p>The product will be used by Home Office staff and licence holders/applicants on a daily basis to manage licences. It is hoped to set a design pattern for other licensing services.</p>

            <h2>Start date</h2>
            <p>March 2018</p>

            <h2>Expected contract length</h2>
            <p>6-12 Months</p>

            <h2>Location</h2>
            <p>Croydon area with some travel to other locations in the UK</p>

            <h2>Working arrangements</h2>
            <p>The specialist must be available to be onsite at least 3 days a week. Please note that this role is deemed to be outside of the HMRC IR35 Regulations.</p>

            <h2>Security clearance</h2>
            <p>CTC or SC level is preferable. Support can be provided to gain security clearance for the suitable candidate.</p>

            <h2>Essential skills and experience</h2>
            <ul>
                <li>Experience of interaction design in cross-functional agile teams</li>
                <li>HTML/CSS knowledge</li>
                <li>Experience of agile working within government/public sector</li>
                <li>Prototyping experience</li>
                <li>Experience of leading the design and working autonomously in an agile delivery team</li>
                <li>Demonstrable ability to work closely with others, including user researchers, front-end developers and product and delivery leads</li>
                <li>Strong communications skills and the ability to explain design decisions to others, inside and outside of the delivery team</li>
            </ul>

            <h2>Nice-to-have skills and experience</h2>
            <ul>
                <li>Knowledge of accessibility good practice and experience of designing accessible interfaces</li>
                <li>Case working or licensing-based system design experience</li>
                <li>Use of government prototyping kit and familiarity with government design patterns</li>
            </ul>

            <h2>To apply for this job...</h2>
            <p>The end client for this work is the Home Office, and the contract is managed through Marvell Consulting.</p>
            <p>Please send a CV to <a href="mailto:talent@marvell.consulting">talent@marvell.consulting</a> if you have the relevant skills and experience, and you are interested in this role.</p>

        </div>
        <div class="pure-u-1-4"> </div>
    </div>
</div>
{{> partials-footer}}


<script src="/public/js/menu.js"></script> <!-- Resource jQuery -->

</body>
</html>
