<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div class="content fullwidth">
    <div class="pure-g">
        <div class="pure-u-1-24"> </div>
        <div class="pure-u-22-24">
            <h1>User Researcher - Permanent</h1>

            <h2>Summary of the work</h2>
            <p>The user researcher will lead the research activities in the agile development lifecycle from discovery through to the live phase of a digital service.</p>

            <h2>Start date</h2>
            <p>October 2019</p>

            <h2>Expected contract length</h2>
            <p>Permanent position</p>

            <h2>Location</h2>
            <p>London Bridge area with some travel to other locations in the UK.</p>

            <h2>Working arrangements</h2>
            <p>The user researcher must be available to be onsite at least 4 days a week.</p>

            <h2>Security clearance</h2>
            <p>CTC or SC level is preferable. Support can be provided to gain security clearance for the suitable candidate.</p>

            <h2>Essential skills and experience</h2>
            <ul>
                <li>Proven ability to employ a variety of different research methods based on project needs and the GDS standard</li>
                <li>Strong analytical and problem solving skills</li>
                <li>Experience of hypothesis-driven design</li>
                <li>Ability to develop user research recommendations based on qualitative and quantitative evidence</li>
                <li>Delivering timely research feedback to the team to compliment sprint cycles</li>
                <li>Demonstrable ability to work effectively with others, including interaction designers, front-end developers and product and delivery leads</li>
                <li>Knowledge of accessibility best practice and experience of conducting research with users with access needs</li>
                <li>Understanding of organisational strategy and objectives. Ability to align user research activities with objectives to create strategic insights that inform policy and proposition</li>
            </ul>

            <h2>Nice-to-have skills and experience</h2>
            <ul>
                <li>Experience within government services</li>
                <li>Experience researching with users of complex transactional services</li>
            </ul>

            <h2>To apply for this job...</h2>
            <p>Please send a CV to <a href="mailto:talent@marvell.consulting">talent@marvell.consulting</a> if you have the relevant skills and experience, and you are interested in this role.</p>
        </div>
        <div class="pure-u-1-24"> </div>
    </div>
</div>
{{> footer}}

</body>
</html>
