<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-asru-alpha"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Rapidly replacing legacy infrastructure </h1>
            <p class="client">UK regulatory body</p>
        </div>
        <div class="pure-u-1-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">A UK regulator’s systems failed to meet government standards. We replaced it with a compliant service whilst safeguarding business continuity.</p>


            <h2>The challenge</h2>
            
            <p>In 2017, a regulator reached out to us for help replacing the legacy digital system they used to regulate scientific research.</p>
            
            <p>The system is used by scientists to apply for and manage licences, and by the regulator to grant or refuse those licences.</p>
            
            <p>The existing system, built in 2012, had a number of problems including:</p>

            <ul>
              <li>licence applications were emailed in paper format and staff had to input them into the digital system by hand</li>
              <li>the system wasn’t optimised for mobile working, a serious drawback for staff carrying out on site inspections</li>
              <li>the system wasn’t technically robust - work sometimes failed to save or users weren’t sure if their work had saved</li>
              <li>licences were issued as encrypted PDFs that some scientists couldn’t open</li>
              <li>the design wasn’t intuitive - users had a steep learning curve to understand how to perform simple tasks</li>
            </ul>

            <p>These problems were reflected in a government assessment of the service, with just 3 out of the 18 original Service Standard points being met. </p>
            
            <p class="quote">
              “This system is the last place I’d look for licensing information”
              <span class="citation">- Scientist</span>
            </p>

            
            <h2>Designing the new service </h2>
            
            <p>The contract with the legacy supplier was due to expire in August 2019. Our brief was to replace it with an improved service with minimal impact to the regulator’s operations.</p>
            
            <p>We started by identifying the highest priority needs. We then carried out rapid development cycles as we researched, designed and tested different features of the new service. In total we held <strong>222 research sessions</strong> over 2 years and <strong>iterated our designs 2 to 3 times</strong> on average. </p>
            
            
            <p>Our solution:</p>
            <ul>
                <li>digitised and improved the application process, removing the need for manual data entry</li>
                <li>digitised and improved licences, making them easily visible to authorised users </li>
                <li>was more technically robust and designed to support mobile working</li>
                <li>was clear and intuitive for first time users </li>
            </ul>

            <div><img class="img" src="/public/img/asl-servicemap.jpg" width="100%" alt="A service map for the service" /></div>
            
            <h2>Preparing to go public</h2>
            
            <p>The riskiest part of the service involved migrating over 18,000 licence records from the legacy supplier into the new system. </p>
            
            <p>We created a data migration strategy that involved automated and manual checks of the data and data cleansing. A risk report detailed the most serious risks and the mitigating actions we’d take should anything go wrong.</p>
            
            <p>Once the data had been migrated, 15 research establishments with the largest and most complex datasets were invited to check their data in the system before we went live. </p>

            
            <h2>Results</h2>
            
            <div><img class="img" src="/public/img/asl-licence.png" width="100%" alt="A flow diagram"/></div>
            
            <p>The new service went live on schedule and the legacy system was turned off. There were no disruptions to the regulator’s operations with the new service going live over the weekend. </p>
            
            <p>The service passed 3 government alpha assessments and is already delivering benefits including: </p>
            <ul>
              <li>a 50% reduction in the number of iterations of draft project licence applications from 4.8 to 2.5, decreasing time and burden on senior staff assessing applications</li>
              <li>a 50% reduction in the time taken by staff to process personal licence applications</li>
            </ul>
            
            <p class="quote">
              “On the whole, this project and the work the team are doing is really impressive”
              <span class="citation">- Government service assessor</span>
            </p>
            
            <p class="quote">
              “The new system saves us so much time and is so much better. We are happy to pay even more fees to keep up this level of improvement and change!”
              <span class="citation">- Establishment licence holder at a major UK corporation</span>
            </p>

        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            
            <h3>Client</h2>
            <p>UK regulator</p>

            <h3>Scale</h2>
            <p>18,000+ users</p>
                
            <h3>Duration</h2>
            <p>20 months</p>

        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Informing a national interoperability strategy 
                            <span class="citation">NHSx</span>
                        </h3>
                        <p>
                           Carrying out a discovery into creating a single place where interoperbility standards could be found.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                            <span class="citation">UK visas and immigration</span>
                        </h3>
                        <p>
                            Designing and building a government complaints service that increased satisfaction rates from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    

        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
