<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-asru-beta"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Creating a digital exemplar</h1>
            <p class="client">UK regulator </p>
        </div>
        <div class="pure-u-1-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">A new digital solution for a regulator boosted staff efficiency, and customer satisfaction from 47% to 78%</p>


            <h2>Background</h2>

            <p>In 2017, <a href="asru-alpha">we replaced a legacy IT system for a body who licenses scientific research in the UK</a>. After making the system live we were re-commissioned to add additional features.</p>
            
            <p>The initial system allowed scientists to apply for licences online and the regulator to grant or refuse licences. Features requested included:</p>
            <ul>
                <li>digitising licence assessment processes</li>
                <li>digitising compliance processes, such as annual reporting used to produce government statistics</li>
                <li>allowing advanced search of licences to support evidence-based policy-making</li>
                <li>creating a dashboard with performance data for managers                </li>
            </ul>
            
            <h2>Improving a live service</h2>
            <br>
            <div><img class="img" src="/public/img/asl-workshop.jpg" width="100%" alt="A workshop with service users" /></div>
            <span class="citation image">Running a workshop with stakeholders in the biosciences industry</span>
            
            <p>As the service was live it was important we continued to maintain the core architecture and add new features in ways that weren’t disruptive to users. </p>
            
            <p>Any bugs were reviewed in weekly meetings and prioritised for fixing by the development team. In the meantime the research and design team explored how to incorporate new features into the working software.</p>
            
            <p>In total we carried out <strong>over 270 research sessions</strong> as we designed, tested and iterated the new features before making them live.</p>

            <p>Together with the regulator we agreed a communication strategy to keep licence-holders informed of changes to the system. This included weekly emails and presenting at industry conferences.</p>
            
            
            <p class="quote">"[The regulator] seem to have focused on customer service a lot more in the last two years, they listen to us and ask our views on things. The online service has been a major shift - the change has been expertly managed with lots of clear communications.""
            <span class="citation">Feedback from a research establishment</span></p>
                
            <div><img class="img" src="/public/img/asl-postits.jpg" width="100%" alt="Iterating on existing designs" /></div>
            <span class="citation image">Exploring ideas for improvements to the existing service</span>
            
            <h2>Systems for an uncertain world</h2>
            
            <div><img class="img" src="/public/img/asl-stats.png" width="100%" alt="A new feature allowing the regulator to forecast revenues" /></div>
            <span class="citation image">A new feature allowing the regulator to forecast revenues</span>

            
            <p>The new features have given the regulator many benefits, such as being able to see estimated licence fees for the upcoming year or respond more quickly to critical COVID-19 issues, for example by searching for projects that use species thought to spread the virus. It has also been invaluable to staff working from home. </p>

            
            <p class="quote">
              “For us as a business to be able to carry on [during COVID-19] is just incredible...I am not comfortable travelling and I would not have been able to do anything without [the new system] at all.”
              <span class="citation">Inspector, UK regulator</span>
            </p>

            <p>User satisfaction has also increased substantially. A survey of scientific establishments who use the system recently showed:</p>
            <ul>
                <li>satisfaction has increased from 47% to 78% – this includes a rise in those very satisfied from 5% to 33%</li>
                <li>confidence in the regulator’s ability to provide an effective service has increased from 77% to 85%  – this includes a rise in those very confident from 15% to 46%</li>
            </ul>
            <p>The service is now an exemplar for large-scale digital transformations and features in a <a href="https://services.blog.gov.uk/2021/03/05/showing-the-rewards-of-user-centred-service-design-at-scale/">blog post for the services in government blog</a>. </p>

            <h2>Read more about this project</h2>

            <p>
                <a href="asru-alpha">
                    <div>
                        <img class="img" src="/public/img/asl-homepage.jpg" width="50%" alt="An image of the homepage of the service">
                    </div>
                    Rapidly replacing legacy infrastructure  
                </a>
            </p>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            
            <h3>Client</h2>
            <p>UK regulator</p>

            <h3>Scale</h2>
            <p>18,000+ users</p>
                
            <h3>Duration</h2>
            <p>18 months</p>

        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Realising ministers' aims to join up health  
                            <span class="citation">NHSx </span>
                        </h3>
                        <p>
                          An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/modern-slavery">
                        <h3 class="content-subhead">
                            <div class="img modern-slavery">
                                <div></div>
                            </div>
                            Protecting slavery victims
                        </h3>
                        <span class="citation">Home Office </span>
                        <p>
                            A flagship service for reporting susepcted modern slavery was overhauled to make reporting easier and safer 
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/rotm">
                        <h3 class="content-subhead">
                            <div class="img rotm">
                                <div></div>
                            </div>
                            Tackling terrorist propaganda
                        </h3>
                        <span class="citation">Home Office </span>
                        <p>
                            Redesigning a service that allows citizens to report online terrorist materials provided better intelligence to the police
                        </p>
                    </a>
                </div>
            </div>
        </div>
    

    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="lead">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
                <dl class="contact-us">
                    <dt>Email: </dt>
                    <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                    <dt>Phone:</dt>
                    <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                    <dt>Social media:</dt>
                    <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                    <dt>Visit: </dt>
                    <dd>
                        <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                        <br>
                        Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                    </dd>
                </dl>
                
            </div>

    </div>
</div>
{{> footer}}

</body>
</html>
