<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-asru-alpha"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Rapidly replacing legacy systems</h1>
            <p class="client">UK regulatory body – Alpha</p>
        </div>
        <div class="pure-u-1-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p>A regulator’s legacy technology needed replacing with a GDS-compliant system whilst safeguarding business continuity</p>


            <h2>The challenge</h2>

            <p>In 2017, a regulator reached out to us for help replacing their legacy digital system. The system is used by scientists to apply for and manage licences, and by the regulator to grant or refuse those licences.</p>
            
            <p>The existing system, built in 2012, had a number of problems including:</p>
            
            <ul>
                <li>licence applications were emailed in paper format and staff had to input them by hand</li>
                <li>the system wasn’t optimised for mobile working, a serious drawback for staff doing on site inspections</li>
                <li>the system wasn’t technically robust - work sometimes failed to save </li>
                <li>licences were issued as encrypted PDFs that some people couldn’t open</li>
                <li>the design wasn’t intuitive - users had a steep learning curve to understand how to perform simple tasks</li>
            </ul>

            <p class="quote">
                “This system is the last place I’d look for licensing information”
                <span class="citation">Scientist</span>
            </p>
            
            <p>These problems were reflected in a government assessment, with just 3 out of the 18 original <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a> points being met.</p>
            
            <img class="img" src="/public/img/asl-research.jpg" width="100%" alt="A photo of the team visiting a research facility"/>
            <span class="citation image">The team visiting a research facility</span>

            <h2>Designing the new service </h2>
            
            <p>The contract with the legacy supplier was due to expire in August 2019. Our brief was to replace it with a compliant service with minimal impact to the regulator’s operations.</p>
            
            <p>We started by identifying the highest priority needs. We then carried out rapid development cycles as we researched, designed and tested different features of the new service. In total we held <strong>222 research sessions</strong> over 2 years and <strong>iterated our designs 2 to 3 times</strong> on average. </p>
        
            <img class="img" src="/public/img/asl-holtif.jpg" width="100%" alt="A workshop with the science community"/>
            <span class="citation image">Running a workshop with stakeholders in the biosciences industry</span>

            <img class="img" src="/public/img/asl-plan.jpg" width="100%" alt="Mapping the needs of users"/>
            <span class="citation image">A detailed view of a map of users goals and needs</span>


            <img class="img" src="/public/img/asl-designs.jpg" width="100%" alt="A service map for the service"/>
            <span class="citation image">A hand-drawn image of a page from the new service built by Marvell Consulting</span>

            
            <p>Our solution:</p>
            <ul>
                <li>digitised and improved the application process, removing the need for manual data entry</li>
                <li>digitised and improved licences, making them easily visible to authorised users </li>
                <li>was more technically robust and designed to support mobile working</li>
                <li>was clear and intuitive for first time users </li>
            </ul>

            <div><img class="img" src="/public/img/asl-servicemap.jpg" width="100%" alt="A service map for the service" /></div>
            <span class="citation image">An end-to-end service map visualising the new service</span>

            
            <h2>Preparing to go public</h2>
            
            <p>The riskiest part of the service involved migrating over 18,000 licence records from the legacy supplier into the new system. </p>
            
            <p>We created a data migration strategy that involved automated and manual checks of the data and data cleansing. A risk report detailed the most serious risks and the mitigating actions we’d take should anything go wrong.</p>
            
            <p>Once the data had been migrated, 15 research establishments with the largest and most complex datasets were invited to check their data in the system before we went live. </p>

            
            <h2>Faster, easier, compliant</h2>
            
            <div><img class="img" src="/public/img/asl-licence.png" width="100%" alt="A flow diagram"/></div>
            <span class="citation image">An example of the updated digital view of a licence</span>

            
            <p>The new service went live on schedule and the legacy system was turned off. There were no disruptions to the regulator’s operations with the new service going live over the weekend. </p>
            
            <p class="quote">
              “The new system saves us so much time and is so much better. We are happy to pay even more fees to keep up this level of improvement and change!”
              <span class="citation">Establishment licence holder at a major UK corporation</span>
            </p>
            
            <p>The service <strong>passed 3 government alpha assessments</strong> and is already delivering benefits including: </p>
            <ul>
              <li>a 50% reduction in the number of iterations of draft project licence applications from 4.8 to 2.5, decreasing time and burden on senior staff assessing applications</li>
              <li>a 50% reduction in the time taken by staff to process personal licence applications</li>
            </ul>
            
            
            <p class="quote">
              “This project and the work the team are doing is really impressive”
              <span class="citation">Government service assessor</span>
            </p>

            <p>This service features in a <a href="https://services.blog.gov.uk/2021/03/05/showing-the-rewards-of-user-centred-service-design-at-scale/">blog post for the services in government blog</a>.
            </p>

            <h2>More on this project</h2>
            <p>
                <a href="asru-beta">Unlocking the power of digital in UK biosciences </a>
            </p>

        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            
            <h3>Client</h2>
            <p>UK regulator</p>

            <h3>Scale</h2>
            <p>18,000+ users</p>
                
            <h3>Duration</h2>
            <p>20 months</p>

        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Realising ministers' aims to join up health  
                            <span class="citation">NHSx - discovery</span>
                        </h3>
                        <p>
                           An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator - beta</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Supporting excellent customer service 
                            <span class="citation">UK visas and immigration </span>
                        </h3>
                        <p>
                            An innovative design for a complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    

    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Contact us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="lead">We’re always here to answer any question you may have or just to have a natter over a coffee!</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Twitter:</dt>
                <dd> @<a href="https://twitter.com/marvellconsult">marvellconsulting</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
            
        </div>

    </div>
</div>
{{> footer}}

</body>
</html>
