<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-asru"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Turning around a failing legacy system</h1>
            <p class="client">UK regulatory body</p>
        </div>
        <div class="pure-u-1-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">A legacy system in the UK’s £74 billion biosciences industry hadn’t delivered the hoped-for results. We built a service that resolved a host of problems and restored reputational damage. It’s now a GDS exemplar for large-scale digital transformation. </p>


            <h2>The problem</h2>
            <p>In 2017 we were contracted to build a service that could replace a legacy system just 5 years’ old. During research we identified a number of problems including confusing application forms, a cumbersome security model, restrictive account management and inefficient working practices. </p>
            <p>The end result was a lot of work and frustration. External users had to resubmit their applications 4 times on average. Sensitive data was regularly shared outside of the system or users couldn’t do their jobs. The regulator’s staff were forced to continue to rely on manual data inputting - hardly the digital transformation they had hoped for. These problems were reflected in the GDS assessment with just 3 out of the 18 Service Standard points being met.</p>

            <div><img class="img" src="/public/img/asl-servicemap.jpg" width="100%" alt="A service map for the service" /></div>

            <h2>Our approach</h2>
            <p>In 2 years we held over 340 research sessions as we designed, tested and iterated system components. Prototypes typically went through 2 or 3 iterations to check solutions worked for users. Existing GOV.UK solutions were used wherever possible. The team worked to agile methodologies, holding fortnightly show and tells and maintaining a risk register with the client to ensure clear communication. We worked hard to build back the trust that had been lost with users by listening to their frustrations, designing solutions and presenting back working software.</p>

            <div><img class="img" src="/public/img/asl-flow-diagram.jpg" width="100%" alt="A flow diagram" /></div>

            <h2>Results</h2>
            <p>In 2019, the new service was delivered on time and on budget. Legacy data has been successfully migrated into the new system and the old system has been turned off.</p>

            <p class="quote">“The new system saves us so much time and is so much better. We are happy to pay even more fees to keep up this level of improvement and change!” <span class="citation">Establishment licence holder at a major UK corporation</span></p>

            <div><img class="img" src="/public/img/asl-pil-example.jpg" width="100%" alt="Project license screenshot" /></div>

            <p>The new service meets external needs with a secure but flexible permissions model, clearer application forms and greater transparency of the data we hold. It meets internal needs by removing the need for manual data processing and providing improved reporting functionality. The service has been chosen as a GDS exemplar. We were recently procured to continue adding enhancements to the system for another 2 years. </p>
            <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        6,600
                    </h3>
                    <p>senior staff hours saved</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        100%
                    </h3>
                    <p>GDS Service Standard points met</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        30%
                    </h3>
                    <p>fall in resources to process FOIs and parliamentary Qs</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        1.5<span>per user</span>
                    </h3>
                    <p>Fewer application iterations</p>
                </div>
            </div>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            
            <h3>Users</h2>
            <p>18,000+</p>

            <h3>Features</h2>
            <ul>
                <li>front-end application</li>
                <li>case working system</li>
                <li>personalised permissions model</li>
            </ul>
                
            <h3>Phases</h2>
            <ul>
                <li>Alpha</li>
                <li>Private Beta</li>
                <li>Public Beta</li>
            </ul>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                        </h3>
                        <p>
                            Designing and building a government complaints service that increased satisfaction rates from 31% to 63%.
                        </p>
                    </a>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
    
                    <h3 class="content-subhead">
                        <div class="img hof">
                            <div></div>
                        </div>
                        Championing open source
                    </h3>
                    <p>
                        Creating a reusable, open sourced template to rapidly code government forms, used by 19 services to date. Case study coming soon.
                    </p>
                </div>
            </div>
        </div>

        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
