<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-asru-beta"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Building an exemplar licensing service</h1>
            <p class="client">UK regulatory body</p>
        </div>
        <div class="pure-u-1-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <!-- <p class="lead-in"></p> -->


            <h2>Background</h2>

            <p>In 2017, <a href="asru-alpha">we replaced a legacy IT system for a body who licenses scientific research in the UK</a>. </p>
            
            <p>After making the system live in August 2019, we were re-commissioned to research, design and build improvements to the system.</p>
            
            <p>The initial system allowed scientists to apply for and manage their licences online and allowed the regulator to grant or refused licences. The improvements requested included:</p>
            <ul>
              <li>digitising the process used to assess licence applications</li>
              <li>digitising compliance processes, such as annual reporting used to produce government statistics</li>
              <li>allowing advanced search of project licences to support evidence-based policy-making</li>
              <li>being able to view the history of a licence</li>
              <li>designing a dashboard with performance data for managers</li>
            </ul>
            
            <h2>Improving a live service</h2>
            
            <div><img class="img" src="/public/img/asl-search.jpg" width="100%" alt="Advanced project search"/></div>
            
            <p>As the service was live it was important we continued to maintain the core architecture and add new features in ways that weren’t disruptive to users. </p>
            
            <p>Any issues raised in feedback were reviewed in weekly meetings and prioritised for fixing by the development team. In the meantime the research and design team explored how to incorporate new features into the working software. In total we carried out over 270 research sessions as we designed, tested and iterated the new features before building them into the live software.</p>
            
            <p>Together with the regulator we agreed a robust communication strategy to keep licence-holders informed of changes to the system. This included weekly emails and presenting at industry conferences and events.</p>

            
            <p class="quote">[The regulator] seem to have focused on customer service a lot more in the last two years, they listen to us and ask our views on things. The online service has been a major shift - the change has been expertly managed with lots of clear communications.
            <citation>Feedback from a research establishment</citation></p>
              
            <div><img class="img" src="/public/img/asl-workshop.jpg" width="100%" alt="A workshop with service users" /></div>
            
            <h2>Results</h2>
            
            <!-- <p>The changes we’ve introduced have:</p>
            [INSERT SOME GOOD STUFF EG. FINDING OUT ABOUT MINK IN COVID 19) -->
            
            <p>User satisfaction has increased substantially. A survey of research establishments recently showed:</p>
            <ul>
              <li>a rise in the percentage of users satisfied with the online service from 47% to 78% – this includes a rise in those very satisfied from 5% to 33%</li>
              <li>a rise in the percentage of users who are confident in the regulator’s ability to provide an effective service from 77% to 85%  – this includes a rise in those very confident from 15% to 46%</li>
            </ul>
            <p>The service has been chosen as a government exemplar for complex digital transformations and features in a blog post for the services in government blog.</p>
            
            <p class="quote">
              “Marvell Consulting has been integral in the transformation of the regulator’s digital operations. The research, design and build has been exceptional.”
              <span class="citation">Ben Stevens, Client Product Manager</span>
            </p>

            <!-- <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        6,600
                    </h3>
                    <p>senior staff hours saved</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        100%
                    </h3>
                    <p>GDS Service Standard points met</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        30%
                    </h3>
                    <p>fall in resources to process FOIs and parliamentary Qs</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        1.5<span>per user</span>
                    </h3>
                    <p>Fewer application iterations</p>
                </div>
            </div> -->
        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            
            <h3>Client</h2>
            <p>UK regulator</p>

            <h3>Scale</h2>
            <p>18,000+ users</p>
                
            <h3>Duration</h2>
            <p>Ongoing</p>

        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <a href="/casestudy/asru-alpha">
                      <h3 class="content-subhead">
                          <div class="img asru-alpha">
                              <div></div>
                          </div>
                          Rapidly replacing legacy infrastructure 
                          <span class="citation">UK regulator</span>
                      </h3>
                      <p>
                          We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                      </p>
                  </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Informing a national interoperability strategy 
                            <span class="citation">NHSx</span>
                        </h3>
                        <p>
                          Carrying out a discovery into creating a single place where interoperbility standards could be found.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                            <span class="citation">UK visas and immigration</span>
                        </h3>
                        <p>
                            Designing and building a government complaints service that increased satisfaction rates from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    

        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
