<!doctype html>
<html lang="en">
    <head>
        {{> head}}
        <meta property="og:image" content="/public/img/dhsc-decision-tree-3.png" />
    </head>
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-dhsc-decision-tree"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>
                Helping social care providers go digital 
                <span class="client">NHS England</span>
            </h1>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p  class="lead-in">The NHS has an ambition to transform the social care sector so that staff have modern digital tools and ways of working and can exploit the benefits of technology to improve patient care. Parts of the social care sector still follow paper-based processes. This creates risks and it is slow for staff to access and share patient care records when needed.</p>

            <h2>The Challenge</h2>
            <p>In 2020 NHS England carried out research and found that social care providers needed support to identify digital social care record solutions that meet their requirements. Since there was a wide range of suppliers offering different solutions with a vast array of features, we needed to help care providers, who often had limited technical expertise, shortlist suppliers based on their needs.</p>
 
            <p class="quote">
                “30% of social care providers are still using entirely paper based systems and another 30% are only partially digitised”
                <span class="citation">Digital Social Care Record Programme, NHS England</span>
            </p>
            

            <h2>What we did</h2>

            <p>In October 2021 we were engaged to create a new online tool to help social care providers become digital. We kicked off the work by reviewing previous research and similar tools available online to inform our approach. This was followed by the design of an interactive tool that asked providers a set of questions about their needs before giving them a list of suitable suppliers.</p>

            <p>In total, we carried out 16 prototype testing sessions over two design iterations. We recruited different types of users to provide feedback on our work. We engaged with both large care providers, some employed over 2000 staff across different sites, and small local independent care providers in residential and live-in care. We also engaged with a range of Digital Social Care Record Solution suppliers to ensure the tool represents their solution fairly and in a user friendly manner to providers.</p>

            <div><img class="img" src="/public/img/dhsc-decision-tree-3.png" width="100%" alt="Start page of the new tool" /></div>
            <span class="citation image">Start page of the new tool</span>

            <p>Following an agile, user centric, design process we created a tool which:</p>
            <ul>
                <li>explained technical features in simple language to help non-technical buyers understand what different solutions could provide</li>
                <li>used a decision tree question flow to help users refine their list of potential solutions based on their needs</li>
                <li>provided consistent templates for presenting supplier profiles to allow easy comparison between suppliers</li>
                <li>provided both downloadable and shareable results to support users’ preferred ways of working such as conducting analysis offline, and sharing results with colleagues</li>
                <li>included a simple maintenance process by using a spreadsheet upload so the non-technical team can update the ever changing list of suppliers and features</li>
            </ul>

            <p>In addition, we wanted to ensure our tool fitted seamlessly into the users broader end-to-end service journey of buying digital solutions so we made recommendations for changes to the DSCR website where the tool would be hosted.</p>

            <div><img class="img" src="/public/img/dhsc-decision-tree-4.png" width="100%" alt="Choosing additional features for a digital care record" /></div>
            <span class="citation image">Choosing additional features for a digital care record</span>

            <div><img class="img" src="/public/img/dhsc-decision-tree-1.png" width="100%" alt="Results page for shortlisted suppliers" /></div>
            <span class="citation image">Results page for shortlisted suppliers</span>

            <div><img class="img" src="/public/img/dhsc-decision-tree-2.png" width="100%" alt="Download of shortlisted suppliers and DSCR features for offline use" /></div>
            <span class="citation image">Download of shortlisted suppliers and DSCR features for offline use</span>

            <p>Throughout the project, we worked closely with our client and stakeholders inviting them to observe research sessions and to take part in data analysis workshops. Also, we held regular show-and-tells where we shared progress and gathered valuable feedback on our work.</p>

            <p class="quote">
                “Personally I think it’s such a useful tool. Very helpful for providers who need a bit of guidance”
                <span class="citation">Head of Systems, Care provider</span>
            </p>

            <p class="quote">
                “Having the list of features gets care providers thinking about what's possible”
                <span class="citation">Head of Sales, Care provider</span>
            </p>

            <h2>Obstacles we faced</h2>

            <p>Over the course of the project we found that we needed to ask questions that both technical, and non-technical buyers from different backgrounds and sizes could easily understand. We needed to allow everyone using the tool to select suitable options with confidence and to be able to refine their requirements so that they get relevant results.</p>

            <p>In addition, we found providers might select a nice-to-have feature in the filters which would exclude an otherwise relevant supplier. We therefore needed to ensure that users could see which solutions met their needs and which did not based on their answers. Also, to be able to change their answers, if they realised, for example, that some needs were not as important as others.</p>

            <p>Another challenge was the lack of a standardised supplier profile that we had to specify and test to allow easy comparison between suppliers.</p>

            <h2>Results</h2>

            <p>Our solution was very well received in user research by all types of users and stakeholders. We received valuable feedback which allowed us to iterate our solution so that it works well for all users regardless of ability and digital confidence.</p>

            <p><a href="https://www.digitalsocialcare.co.uk/dscr-assured-supplier-tool">The tool</a> went live in the summer of 2022 on the DSCR website. The clients have expressed to us how happy they are with our successful delivery and overall engagement on the project.</p>

            <p class="quote">
                “I am very impressed with the project, it’s a great tool that has been delivered and I would work with you again”
                <span class="citation">Programme Manager NHS England</span>
            </p>

            <p class="quote">
                “In the public sector ‘doing with the sector’ rather than ‘to them’ is a very important part of any project delivery. You really represent that ethos in your approach on how you did the project”
                <span class="citation">Programme Manager NHS England</span>
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h3>
            <p>NHS England</p>

            <h3>Scale</h3>
            <p>National</p>

            <h3>Phases</h3>
            <p>Alpha through to Live</p>
            
            <h3>Phases</h3>
            <p>Alpha through to Live</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="xl-box pure-u-1">
                <h2>More work we've done</h1>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-beta">
                    <h3 class="content-subhead">
                        <div class="img asru-beta">
                            <div></div>
                        </div>
                        Building an exemplar licensing service
                    </h3>
                    <span class="citation">Home Office</span>
                    <p>
                        Researching, designing and building improvements to a regulatory licensing system
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img nhsx-discovery">
                        <div></div>
                    </div>
                    Researching ministers' aims to join up health
                </h3>
                <span class="citation">NHSX</span>
                <p>
                    Case study coming soon
                </p>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <h3 class="content-subhead">
                    <div class="img nhsx-alpha">
                        <div></div>
                    </div>
                    Exploring solutions to join up care settings
                </h3>
                <span class="citation">NHSX</span>
                <p>
                    Case study coming soon
                </p>
            </div>
        </div>
    </div>
    
</div>

{{> contact}}
{{> footer}}

</body>
</html>
