<!doctype html>
<html lang="en">
    <head>
        {{> head}}
        <meta property="og:image" content="/public/img/ho-live-thumb.png" />
    </head>
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-ho-live"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Expertly supporting digital services past live</h1>
            <p class="client">Home Office</p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
          <p class="lead-in">Live services need maintenance. We protected and improved 9 government services with 99.99% uptime and no security breaches.</p>

          <h2>The challenge </h2>

          <p>Building excellent digital services is only one aspect of an organisation’s transition towards digital transformation. </p>
          
          <p>Once services are live they need careful management by an experienced team to protect them against the <a href="https://www.forbes.com/sites/chuckbrooks/2021/03/02/alarming-cybersecurity-stats-------what-you-need-to-know-for-2021/">growing risk of cyber attacks</a>. They also need updating in line with changes to legislation, organisational policies or working practices. </p>
          
          <p>In 2018 we were awarded a contract to provide maintenance and ongoing support to 7 important Home Office services, some of which were highly sensitive. These are:</p>
          <ul>
            <li><a href="https://www.gov.uk/guidance/apply-for-or-manage-a-section-5-shooting-club-or-museum-licence">Apply for a prohibited weapons licence</a></li>
            <li><a href="https://www.gov.uk/report-terrorism">Report online terrorist materials </a></li>
            <li><a href="https://www.gov.uk/complain-uk-visas-immigration">Complain to UK Visas and Immigration</a></li>
            <li><a href="https://www.gov.uk/biometric-residence-permits/report-problem">Biometric Residence Permit enquiries </a></li>
            <li><a href="https://www.ending-a-tenancy.homeoffice.gov.uk/what">Ending a tenancy due to immigration status</a></li>
            <li><a href="https://www.certificate-enquiries.homeoffice.gov.uk/">GRO Certificate Enquiries (backend system)</a></li>
            <li><a href="https://www.gov.uk/check-tenant-right-to-rent-documents/how-to-check">Landlords Checking Service</a></li>
          </ul>
          
          <p>The contract was to maintain and improve the services with new features or design improvements. </p>
          
          <h2>Taking a security-first approach</h2>
          
          <p>For more than two and a half years we ensured all 7 services were operational, that data was securely transferred to the back-end and they were protected against security threats. </p>
          
          <p>In addition to monitoring by the Home Office’s central cybersecurity department, we deployed our own security monitoring services at the container and library level for extra protection. </p>
          
          <p>We checked for known security threats against a vulnerability database and resolved them according to risk level. Serious risks were resolved immediately with the majority of risks resolved in under half a day.</p>
          
          <p>In [DATE] following our successful management of these services we were asked to take over management of another 2 live services:</p>
          
          <ul>
            <li>Report Modern Slavery as a First Responder</li>
            <li>Appeal Rights Exhausted Checking Tool</li>
          </ul>

          <div><img class="img" src="/public/img/live-monitoring.png" width="100%" alt="An example of a live service monitoring tool used on the project" /></div>
            <span class="citation image">An example of a live service monitoring tool used on the project</span>

          
          <h2>Upskilling staff for a smooth handover</h2>
          
          <p>All of our services were live and operational for the duration of our contract with an average uptime of 99.99%. During that time we had no security breaches. </p>
          
          <p>We also made iterative design improvements and built new features which you can read about in our <a href="rotm">report online terrorist materials</a>, <a href="ukvi">UKVI complaints</a> and <a href="modern-slavery">report modern slavery as a first responder</a> case studies. </p>
          
          <p>When a policy change meant live services would be managed in-house going forward, we supported a smooth transition to the new team. </p>
          
          <p class="quote">
            “Marvell Consulting are very responsive. They’ve really worked with internal teams to increase our knowledge and capabilities.”
            <span class="citation">Lead Developer, Home Office
            </span>
          </p>
          
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h2>
            <p>Home Office</p>

            <h3>Phase</h2>
            <p>Live</p>

        </div>
        <div class="content more" id="casestudies">
            <div class="xl-box pure-u-1">
                <h2>More work we've done</h1>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-beta">
                    <h3 class="content-subhead">
                        <div class="img asru-beta">
                            <div></div>
                        </div>
                        Building an exemplar licensing service
                    </h3>
                    <span class="citation">Home Office </span>
                    <p>
                        Researching, designing and building improvements to a regulatory licensing system
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-discovery">
                    <h3 class="content-subhead">
                        <div class="img nhsx-discovery">
                            <div></div>
                        </div>
                        Researching ministers' aims to join up health
                    </h3>
                    <span class="citation">NHSX </span>
                    <p>
                        An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/nhsx-alpha">
                    <h3 class="content-subhead">
                        <div class="img nhsx-alpha">
                            <div></div>
                        </div>
                        Exploring solutions to join up care settings
                    </h3>
                    <span class="citation">NHSX </span>
                    <p>
                        Helping health and social care IT systems join up through promoting interoperability standards.
                    </p>
                </a>
            </div>
        </div>
    </div>
    
</div>

{{> contact}}
{{> footer}}

</body>
</html>
