<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-nhsx-alpha"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Joining up health data</h1>
            <p class="client">NHSx </p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">Rapid prototyping helped a department see how the complex problem of interoperability in the NHS could be solved 
            </p>

            <h2>The challenge</h2>
 
            <p>In April 2021 we were engaged by <a href="https://www.nhsx.nhs.uk/">NHSX</a> to <a href="nhsx-discovery">carry out a 4 week discovery into the barriers to interoperability (joining up IT systems so they can exchange data) in health and social care</a>. </p>
             
            <p>The benefits of interoperability are considerable. Care professionals will be able to instantly access patient records (with permission), making care faster and safer.</p>
             
            <p>The discovery identified <strong>50 user groups</strong> and over <strong>60 unmet user needs</strong> for interoperability to be achieved. </p>
             
            <p>The highest priority needs include:  </p>
            <ul>
                <li>being able to easily find the technical and data standards needed to exchange data between systems -  currently this information is held by multiple sources</li>
                <li>being able to find clear information on what interoperability is and how to achieve it</li>
                <li>being able to contact developers working on interoperability and share APIs and code with the community</li>
            </ul>
             
            <h2>Ideas exploration</h2>
             
            <p>We used the <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">alpha phase</a> to explore solutions to our highest priority user needs. </p>
             
            <p>We kicked off with a session with the NHSX team to rapidly surface a range of ideas. We then combined elements of everyone’s ideas to create two strong concepts to explore further.</p>
             
            <div><img class="img" src="/public/img/nhsxa-sketches.jpg" width="100%" alt="Ideation sketches" /></div>
            <span class="citation image">Outputs from an ideation session with NHSX </span>

            <div><img class="img" src="/public/img/nhsxa-flow-diagram.png" width="100%" alt="Prototype flow diagram" /></div>
            <span class="citation image">Refined flow of the strongest design concept </span>
            
            <p>Following testing and refinement we turned our frontrunner into a working prototype that we could test with real users. </p>
            
            <p>We used the <a href="https://service-manual.nhs.uk/design-system">NHS Design System</a> and <a href="https://service-manual.nhs.uk/content">Style Guide</a> and <a href="https://design-system.service.gov.uk/?_ga=2.117353606.1642117592.1623323896-709324642.1613583075">GOV.UK Design System</a> to create a consistent visual and written style.</p>
            
            <p>When grouping the standards by topic - for example standards for ‘allergy services’ or ‘mental health services’ - we used [organisation’s] groupings to try to align to users’ existing <a href="https://www.nngroup.com/articles/mental-models/">mental models</a>. </p>
            
            <div><img class="img" src="/public/img/nhsxa-browse.png" width="100%" alt="Browsing standards" /></div>
            <span class="citation image">A screen of the 'browse' approach to navigation in the prototype</span>
            
            <div><img class="img" src="/public/img/nhsxa-standard.png" width="100%" alt="A view of a standard" /></div>
            <span class="citation image">An example of a standard entry, outlining key metadata and cross-linking to other related standards and usecases</span>
             
            <h2>Validating with users</h2>
             
            <p>We <strong>carried out 17 prototype testing sessions</strong> and <strong>iterated the prototype 3 times</strong> following feedback. </p>
             
            <p>Overall the feedback was positive and validated that this service is worth developing in a <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">beta phase</a>.</p>
             
            <p>Quotes: </p>
             
            <p class="quote">
                “It’s a positive piece of work. I look forward to seeing the output”.
                <span class="citation">
                    Tech Lead, NHSX
                </span>
            </p> 

            <p class="quote">
                “I'm working with a startup currently and I've got them in mind when looking at this… to give them an idea of what they need to do otherwise they need to go looking through everything”. 
                <span class="citation">
                    Solution Architect, Supplier
                </span>
            </p> 
            
            <p class="quote">
                “Generally it looks pretty clear. If you had stuff plugged in now it would be useful… but the final judgement will be in its implementation”.
                <span class="citation">
                    Information Manager, NHS Trust, England 
                </span>
            </p> 

            <p class="quote">
                “The basic idea is an excellent one. Overall it’s a very positive reaction...
                Consider a broader range of standards: didn’t see anything about user interface standards”. 
                <span class="citation">
                    IT Healthcare Consultant   
                </span>
            </p>
            
            <p class="quote">
                “We’re trying to set global standards. This site can help signpost people to things and there’s a high level of trust because it’s NHS-endorsed. We would point to this to say, ‘look the NHS uses [our standards].”
                <span class="citation">
                    CEO, standards owner organisation
                </span>
            </p>
            
            <h2>Next steps </h2>
            
            <p>The <a href="https://github.com/nhsx/standards-registry-discovery">prototype has been made available in a public GitHub</a> so users across health and social care can continue to give feedback. </p>
            
            <p>We’ve also recommended a suitable open source technical solution to build the service and created a set of clear next steps for NHSX to continue this work  </p>

            <h2>More on this project</h2>
            <p>
                <a href="nhsx-discovery">Researching how to join up IT systems in health</a>
            </p>

        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h3>
            <p>NHSX</p>
            
            <h3>Phases</h3>
            <p>Alpha</p>

            <h3>Scale</h3>
            <p>National</p>

            <h3>Duration</h3>
            <p>4 weeks</p>

        </div>
        <!-- <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More on this project</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Researching how to join up IT systems in health
                        </h3>
                        <span class="citation">NHSx</span>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quod minima rerum adipisci obcaecati et, provident aliquam nesciunt reprehenderit error laboriosam.
                        </p>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-alpha">
                        <h3 class="content-subhead">
                            <div class="img asru-alpha">
                                <div></div>
                            </div>
                            Rapidly replacing legacy infrastructure 
                            <span class="citation">UK regulator </span>
                        </h3>
                        <p>
                            We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator - Beta</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Championing customer service at home & abroad 
                            <span class="citation">UK visas and immigration </span>
                        </h3>
                        <p>
                            An innovative design for a global complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
                <!-- <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="lead">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Twitter:</dt>
                <dd> @<a href="https://twitter.com/marvellconsult">marvellconsult</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
            
        </div>

    </div>
</div>
{{> footer}}

</body>
</html>
