<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-nhsx-discovery"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Realising ministerial aims</h1>
            <p class="client">NHSx - Discovery</p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">An important ministerial goal was proving hard to achieve. We gathered evidence to support the leadership team’s strategy</p>


            <h2>The challenge</h2>
           
            <p>In March 2021, the Secretary of State for Health and Social Care gave <a href="https://www.gov.uk/government/speeches/driving-digital-in-the-nhs">a speech about the critical importance technology has played in the coronavirus response</a>. </p>
 
            <p>He highlighted how interoperability - joining up IT systems to allow instant data-sharing - has the potential to transform health and social care.</p>
            
            <p>We were engaged by <a href="https://www.nhsx.nhs.uk/">NHSX</a> to <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">carry out a discovery phase</a> into a possible digital solution that could help move the government closer to its goal. </p>

            <div><img class="img" src="/public/img/work-nadia-ben.jpg" width="100%" alt="Mapping out the problem space" /></div>
            <span class="citation image">A workshop plotting out types of interoperability standards</span>


            <h2>Finding evidence</h2>
            <p>Over 4 weeks we carried out a discovery. Our research aims were to explore:</p>
            <ul>
                <li>the different user groups and their role in building, commissioning and enforcing interoperable health tech</li>
                <li>their needs and pain points</li>
                <li>the extent to which NHSX’s proposed standards catalogue would meet their needs</li>
            </ul>
            <p>In total we carried out <strong>1700 minutes of research</strong> over <strong>28 sessions with users</strong>.</p>
            
            <p>We used <a href="https://www.gov.uk/service-manual/agile-delivery">agile methods to manage the project</a>. Our show and tells focused on telling a strong, clear narrative to help stakeholders unfamiliar with interoperability to understand the problems and opportunities in this space. </p>

            <p>We completed our discovery as scheduled in April 2021. </p>

            <p>We found this is a complex area with a large number of users and unmet user needs. In total we identified around <strong>50 user groups</strong> in this space and over <strong>60 unmet user needs</strong>. </p>

            <p>We also identified 9 problems that need to be solved for interoperability to be achieved. Details can be found in this blog post by NHSX’s Director of Standards and Interoperability. </p>

            <p>Our research also validated that NHSX’s solution is worth exploring in a future <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">Alpha phase</a>. </p>
           
            <div><img class="img" src="/public/img/nhsx-needs.png" width="100%" alt="A screenshot of a user neeeds board" /></div>
            <span class="citation image">A section of the board used to capture all user needs identified in discovery</span>

            <h2>A clear way forward</h2>

            <p>NHSX now has a rich source of clear evidence with which to inform their overarching strategy.</p>

            <p>To help NHSX move forward we produced:</p>
            <ul>
                <li>a user ecosystem map visualising the 50 different user groups and their relationships to one another</li>
                <li>a user needs board with the 60 identified user needs, categorised into themes that can be taken forward in separate work streams</li>
                <li>a list of prioritised user needs to inform the design of the standards catalogue in Alpha</li>
                <li>communication materials to help inform and engage stakeholders</li>

            </ul>



            <p>Feedback from NHSX’s senior leaders has been extremely positive.</p>
            <p class="quote">“I just want to say: amazing work all! Thank you. Really impressed with [your final] report” <span class="citation">Irina Bolychevsky, NHSX Director of Standards and Interoperability</span></p>
            <!--             
            <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        31%
                    </h3>
                    <p>users satisfied with</p>
                    <p>old service (2019)</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        63%
                    </h3>
                    <p>users satisfied with</p>
                    <p>new service (April 2020)</p>
                </div>
            </div>

            <h2>See it live</h2>
            <p>You can view <a href="https://www.gov.uk/complain-uk-visas-immigration">the live service</a> on GOV.UK.</p> -->

            <h2>More on this project</h2>
            <p>
                <a href="nhsx-alpha">Creating an interoperability standards directory</a>
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h2>
            <p>NHSx</p>

            <h3>Phases</h2>
            <p>Discovery</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                  <a href="/casestudy/asru-alpha">
                      <h3 class="content-subhead">
                          <div class="img asru-alpha">
                              <div></div>
                          </div>
                          Rapidly replacing legacy infrastructure 
                          <span class="citation">UK regulator - Alpha</span>
                      </h3>
                      <p>
                          We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                      </p>
                  </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator - Beta</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/ukvi">
                        <h3 class="content-subhead">
                            <div class="img ukvi">
                                <div></div>
                            </div>
                            Raising the bar on complaints
                            <span class="citation">UK visas and immigration - Live</span>
                        </h3>
                        <p>
                            An innovative design for a complaints service increased customer satisfaction from 31% to 63%.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Contact us</h2>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <p class="lead">We’re always here to answer any question you may have or just to have a natter over a coffee!</p>
                    <dl class="contact-us">
                        <dt>Email: </dt>
                        <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                        <dt>Phone:</dt>
                        <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                        <dt>Twitter:</dt>
                        <dd> @<a href="https://twitter.com/marvellconsult">marvellconsulting</a></dd>
                        <dt>Visit: </dt>
                        <dd>
                            <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                            <br>
                            Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                        </dd>
                    </dl>
                    
                </div>
    
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
