<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-nhsx-discovery"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Informing a national interoperability strategy for health and social care</h1>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in"></p>


            <h2>The problem</h2>
           
            <p>In March 2021, the Secretary of State for Health and Social Care gave <a href="https://www.gov.uk/government/speeches/driving-digital-in-the-nhs">a speech about the critical importance technology has played in the coronavirus response</a>. </p>
 
            <p>He highlighted how interoperability - connecting IT systems to allow instant data-sharing - has the potential to transform how care is given and received across health and social care.</p>
            
            <p>This aspiration is not new. However despite the best efforts of technology leaders it still hasn’t been fully realised. </p>
            
            <p>We were engaged by <a href="https://www.nhsx.nhs.uk/">NHSX</a> to <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">carry out a discovery phase</a> into a possible digital solution that could help move the government closer to its goal. </p>
            
            <p>The solution would create a single place where the technical and data standards needed to exchange data between different IT products could be found - a ‘standards catalogue’. </p>

            <h2>Our approach</h2>
            <p>Over 4 weeks we carried out a discovery. Our research aims were to explore:</p>
            <ul>
                <li>the different user groups and their role in building, commissioning and enforcing interoperable health tech</li>
                <li>their needs and pain points</li>
                <li>the extent to which NHSX’s proposed standards catalogue would meet their needs</li>
            </ul>
            <p>We started with a literature review to gain a deep understanding of the subject matter.</p>
            <p>We then carried out X minutes of research over X sessions with users. These included health and social care providers, IT suppliers and central teams involved in procurement and assurance.</p>
            <p>We used agile methods to manage the project. This included holding weekly planning meetings to plan our activities, daily stand ups to monitor progress and fortnightly show and tells to present findings to stakeholders. </p>
            <p>Our show and tells focused on telling a strong, clear narrative to help stakeholders unfamiliar with interoperability to understand the problems and opportunities in this space. </p>

            <h2>Findings</h2>
            
            <p>We completed our discovery as scheduled in April 2021. </p>

            <p>What we found is that interoperability hasn’t been achieved for complex reasons and there are a number of important problems to solve. </p>

            <p>These range from central teams not having the guidance they need to assess and enforce interoperability, to suppliers not being compensated for the technical work needed to connect different systems. The full list can be found in this <a href="#">blog post by NHSX’s Director of Standards and Interoperability</a>. </p>

            <p>These problems are compounded by the large number of user groups who all need to align to achieve interoperability and have competing priorities. In total we identified around 50 user groups that create, share, adopt or have an interest in standards and over 60 unmet user needs. </p>
            <div><img class="img" src="/public/img/nhsx-needs.png" width="100%" alt="User journey flow" /></div>

            <p>Our research also validated that user needs for a standards catalogue are sufficiently strong to be worth exploring in a future <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">Alpha phase</a>.</p>

            <h2>Findings</h2>


            <p>As a result of our work NHSX has a rich source of clear evidence with which to continue developing their overarching strategy and their standards catalogue.</p>

            <p>To help NHSX move forward we produced the following artefacts:</p>
            <ul>
                <li>a user ecosystem map visualising the 50 different user groups and their relationships to one another</li>
                <li>a user needs board with the 60 identified user needs, categorised into themes that can be taken forward in separate work streams</li>
                <li>a list of prioritised user needs to inform the design of the standards catalogue in Alpha</li>
                <li>communication materials to help inform and engage stakeholders</li>

            </ul>



            <p>Feedback from NHSX’s senior leaders has been extremely positive.</p>
            <p class="quote">“GLOWING QUOTE FROM IRINA ABOUT HOW GOOD THE TEAM HAVE BEEN” <span class="citation">Irina Bolychevsky, NHSX Director of Standards and Interoperability</span></p>
            <!--             
            <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        31%
                    </h3>
                    <p>users satisfied with</p>
                    <p>old service (2019)</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        63%
                    </h3>
                    <p>users satisfied with</p>
                    <p>new service (April 2020)</p>
                </div>
            </div>

            <h2>See it live</h2>
            <p>You can view <a href="https://www.gov.uk/complain-uk-visas-immigration">the live service</a> on GOV.UK.</p> -->
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h2>
            <p>NHSx</p>

            <h3>Phases</h2>
            <p>Discovery</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru">
                        <h3 class="content-subhead">
                            <div class="img asru">
                                <div></div>
                            </div>
                            Designing for the 21st century regulator
                        </h3>
                        <p>
                            Delivering a large-scale digital transformation that's saved 6,600 staff hours and increased very satisfied customers from 5% to 33%.
                        </p>
                    </a>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
    
                    <h3 class="content-subhead">
                        <div class="img hof">
                            <div></div>
                        </div>
                        Championing open source
                    </h3>
                    <p>
                        Creating a reusable, open sourced template to rapidly code government forms, used by 19 services to date. Case study coming soon.
                    </p>
                </div>
            </div>
        </div>
        <div class="content" id="speakwithus">
            <div class="pure-g">
                <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <h2 class="content-head content-head-ribbon">Speak with us</h2>
                    <p class="lead">We’re always here to answer any questions you may have or just to have a natter over a coffee!</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                    <br />
                    <iframe width="100%" height="250" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaztxS00FdkgRPf6m1JoS4FE&key=AIzaSyAEz5d2oyZGBTmpuNNeY6UvFg8rOnFYsuA" allowfullscreen></iframe>
                    <div>
                        <p>30 Great Guildford Street, London, SE1 0HS</p>
                        <p>Nearest tube and rail: Borough, Southwark, London Bridge, Blackfriars</p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+442038860115">+44 (0)20 3886 0115</a></p>
                        <p><span class="fa fa-envelope"></span> <a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> footer}}

</body>
</html>
