<!doctype html>
<html lang="en">
    <head>
        {{> head}}
        <meta property="og:image" content="/public/img/nhsx-eco.png" />
    </head>
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-nhsx-discovery"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Researching barriers to interoperability in health</h1>
            <p class="client">NHS England and Improvement</p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">An ambition to make health and social care interoperable was proving difficult. We gathered evidence to help shape a national strategy.</p>


            <h2>The challenge</h2>
           
            <p>In March 2021, the Secretary of State for Health and Social Care gave <a href="https://www.gov.uk/government/speeches/driving-digital-in-the-nhs">a speech about the critical importance technology has played in the coronavirus response</a>. </p>
 
            <p>He highlighted how interoperability - joining up IT systems to allow instant data-sharing - has the potential to transform health and social care.</p>
            
            <p>We were engaged by NHSX (now NHS England and Improvement) to carry out a <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">discovery phase</a> into a digital solution that could move the government closer to its ambition of an interoperable health and social care system.</p>

            <div><img class="img" src="/public/img/work-nadia-ben.jpg" width="100%" alt="Mapping out the problem space" /></div>
            <span class="citation image">A workshop plotting out types of interoperability standards</span>


            <h2>Identifying the problem to solve</h2>
            <p>Over 4 weeks carried out a discovery that explored:</p>
            <ul>
                <li>the user groups and their role in building, commissioning and enforcing interoperable health tech</li>
                <li>their needs and pain points</li>
                <li>the extent to which NHSX’s proposed standards catalogue would meet their needs</li>
            </ul>
            <p>In total we carried out 28 sessions with users, identifying over 60 user needs and 9 high level problems that need to be solved for interoperability to be achieved. These are:
            </p>
            

                <p><strong>1. Difficulty finding standards</strong> - standards are published by multiple organisations and there’s nowhere to see standards by care setting or use case.</p>

                <p><strong>2. Low levels of understanding</strong> - interoperability, standards and the benefits they bring aren’t well understood.</p>

                <p><strong>3. Lack of mandation and enforcement</strong> - users want the NHS to decide which interoperability standards to use and then mandate and enforce them.</p>

                <p><strong>4. Issues with contracts and procurement</strong> - contracts don’t always list the correct standards or stipulate that data must be owned by care settings.</p>

                <p><strong>5. Standards development can be slow</strong> - early adopters are happy using experimental standards but others are waiting for them to be finalised.</p>

                <p><strong>6. Uncertainty around funding</strong> - there’s no funding to align health care providers’ existing solutions to minimum standards.</p>

                <p><strong>7. Healthcare providers have competing priorities</strong> - with many other problems to solve it’s important to win hearts and minds. </p>

                <p><strong>8. Difficulty accessing central data services</strong> - this includes services such as the Patient Demographic Service.</p>

                <p><strong>9. People find it hard to get support</strong>  - this is a niche area so connecting people working on similar problems can help drive adoption.</p>

           
            <div><img class="img" src="/public/img/nhsx-needs.png" width="100%" alt="A screenshot of a user neeeds board" /></div>
            <span class="citation image">A section of the board used to capture all user needs identified in discovery</span>

            <h2>A clear way forward</h2>

            <p>NHS England and Improvement now has a rich source of clear evidence with which to inform their overarching strategy.</p>

            <p>To help them move forward we produced:</p>
            <ul>
                <li>a user ecosystem map visualising the 50 different user groups and their relationships to one another</li>
                <li>a user needs board with the 60 identified user needs, categorised into themes that can be taken forward in separate work streams</li>
                <li>a list of prioritised user needs to inform the design of the standards catalogue in Alpha</li>
                <li>communication materials to help inform and engage stakeholders</li>

            </ul>



            <p>Feedback from NHSX’s senior leaders has been extremely positive.</p>
            <p class="quote">“I just want to say: amazing work all! Thank you. Really impressed with [your final] report” <span class="citation">Irina Bolychevsky, NHSX Director of Standards and Interoperability</span></p>
            <!--             
            <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        31%
                    </h3>
                    <p>users satisfied with</p>
                    <p>old service (2019)</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        63%
                    </h3>
                    <p>users satisfied with</p>
                    <p>new service (April 2020)</p>
                </div>
            </div>

            <h2>See it live</h2>
            <p>You can view <a href="https://www.gov.uk/complain-uk-visas-immigration">the live service</a> on GOV.UK.</p> -->

            <h2>More on this project</h2>
            <p>
                <a href="nhsx-alpha">Designing solutions to join up health tech</a>
            </p>

            <p>
                <a href="nhsx-beta">Building the NHS Data Standards Directory</a>
            </p>

        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h2>
            <p>NHS England and Improvement</p>

            <h3>Phases</h2>
            <p>Discovery</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="xl-box pure-u-1">
                <h2>More work we've done</h1>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
              <a href="/casestudy/asru-alpha">
                  <h3 class="content-subhead">
                      <div class="img asru-alpha">
                          <div></div>
                      </div>
                      Rapidly replacing legacy infrastructure 
                      <span class="citation">UK regulator </span>
                  </h3>
                  <p>
                      We replaced a UK regulators service with a government standards compliant service whilst safeguarding business continuity.
                  </p>
              </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/asru-beta">
                    <h3 class="content-subhead">
                        <div class="img asru-beta">
                            <div></div>
                        </div>
                        Building an exemplar licensing service
                        <span class="citation">UK regulator - Beta</span>
                    </h3>
                    <p>
                        Researching, designing and building improvements to a regulatory licensing system
                    </p>
                </a>
            </div>
            <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                <a href="/casestudy/ukvi">
                    <h3 class="content-subhead">
                        <div class="img ukvi">
                            <div></div>
                        </div>
                        Supporting excellent customer service 
                        <span class="citation">UK visas and immigration </span>
                    </h3>
                    <p>
                        An innovative design for a complaints service increased customer satisfaction from 31% to 63%.
                    </p>
                </a>
            </div>
        </div>
    </div>
    
</div>

{{> contact}}
{{> footer}}

</body>
</html>
