<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-rotm"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Tackling terrorist propaganda </h1>
            <p class="client">Home Office  improvements</p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">Redesigning a service that allows citizens to report online terrorist materials provided better intelligence to the police</p>

            <h2>The challenge</h2>
 
            <p>The sharing of terrorist and extremist content online is a serious problem for law enforcement agencies. In 2019, The European Commission identified up to 400 online platforms that were hosting content they thought could lead to terrorist radicalisation.</p>
            
            <p>The Counter-Terrorism Internet Referral Unit (CTIRU) is repsonsible for removing terrorist content from the internet. In 2020 they asked us to make improvements to an online form that allows members of the public to notify them about extremist content they find online. </p>
            
            <p>They asked us to redesign the form and add new functionality to encourage users to provide better quality information. </p>
            
            <h2>Designing with evidence</h2>
            
            <p>We reviewed a years’ worth of analytics data to understand where reports originated from, which devices they used and any feedback users had given about how the form could be improved. </p>
            
            <p>We also reviewed how international governments collect similar data and facilitated a workshop with CTIRU to understand their ways of working, challenges and aspirations. </p>
                        
            <div><img class="img" src="/public/img/rotm-wall.jpg" width="100%" alt="A photo of sketches on a wall" /></div>
            <span class="citation image">Collaborative working to refine prototypes</span>
            
            <p>Based on the findings we created a prototype which we tested with 6 users in their own homes or a public setting to create a more realistic experience of how they’d access the service. </p>
            
            <p>We included users with accessibility needs, low digital skills and those who speak English as a second language to try and ensure nobody was prevented or discouraged from reporting.</p>
            
            <div><img class="img" src="/public/img/rotm-3-phones.png" width="100%" alt="Three pages of the service viewed on a mobile device" /></div>
            <span class="citation image">A selection of pages viewed on a mobile device</span>
            
            <h2>Encouraging better intelligence</h2>
            
            <p>Based on our research and findings from prototype testing we redesigned the form to work better for users. </p>
            

            <div><img class="img" src="/public/img/rotm-start-phone.jpeg" width="100%" alt="A photo of the mobile view of the homepage" /></div>
            <span class="citation image">A page of the new service on mobile</span>
            
            <p>Changes we made included:</p>
            <ul>
              <li>allowing users to upload images or videos of the content using their mobile, tablet or computer </li>
              
              <li>including simple instructions and visuals to help users with lower digital skills take screenshots or find links to websites or posts</li>
              
              <li>reassuring reluctant users by allowing them to submit their report anonymously and removing references to the Home Office and police </li>
              
              <li>optimising the service to ensure it’s easy to use on any device, including mobile devices </li>
            </ul>
 
            <p>The <a href="https://www.gov.uk/report-terrorism">improved service</a> was built and went live in November 2020. In feedback the client indicated they were very satisfied with our work.</p> 
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Client</h2>
            <p>Home Office</p>

            <h3>Users</h2>
            <p>15,000 users per year</p>

            <h3>Phase</h2>
            <p>Live</p>

            <h3>Duration</h2>
            <p>6 months</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Realising ministers' aims to join up health  
                            <span class="citation">NHSx - Discovery</span>
                        </h3>
                        <p>
                           An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator - Beta</span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-alpha">
                        <h3 class="content-subhead">
                            <div class="img nhsx-alpha">
                                <div></div>
                            </div>
                            Creating an interoperability standards directory
                        </h3>
                        <span class="citation">NHSx </span>
                        <p>
                            Helping health and social care IT systems join up through promoting interoperability standards.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
            <p class="lead">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
            <dl class="contact-us">
                <dt>Email: </dt>
                <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                <dt>Twitter:</dt>
                <dd> @<a href="https://twitter.com/marvellconsult">marvellconsult</a></dd>
                <dt>Visit: </dt>
                <dd>
                    <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                    <br>
                    Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                </dd>
            </dl>
            
        </div>

    </div>
</div>
{{> footer}}

</body>
</html>
