<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div id="casestudy" class="content fullwidth">
    <div class="lead-img lead-img-ukvi"></div>
    <div class="pure-g">
        <div class="pure-u-1 title">
            <h1>Rethinking complaint models</h1>
            <p class="client">Home Office </p>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-4 main">
            <p class="lead-in">An innovative design for a global complaints service increased customer satisfaction from 31% to 63%</p>


            <h2>The Challenge</h2>
            <p>In 2018, <a href="https://www.gov.uk/government/statistics/immigration-statistics-year-ending-december-2018/summary-of-latest-statistics">over 2.9 million people were granted visas to visit, work, study or live in the UK</a>. To help meet their needs, we were asked to redevelop UKVI’s existing UK complaints service for global rollout within 6 months. </p>
 
            <p>Following a <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">discovery</a> of the end-to-end service, we identified the following problems to solve: </p>

            <ul>
                <li>
                	40% of complaints were enquires or requests for help rather than complaints
                </li>
                <li>
                	just 30% of people who used the existing service and gave feedback said they were satisfied
                </li>
                <li>
                	submitted complaints often lacked detail, requiring the complaints team to go back for more information
                </li>
            </ul>


            <p class="quote">“I have a problem in processing my application payment for more than a week. I want to cancel the application but I can not find any link to do anything. I am stuck and it is because it is a technical issue.” <span class="citation">Request for help misdirected to the complaints team</span></p>

            <p>Stakeholders were also frustrated that the large number of general enquiries entering the service inflated complaint statistics in management reports.</p>

            <h2>Bringing a fresh perspective</h2>
            <p>We began with a short discovery to gain an understanding of the service’s users. We engaged with 40 internal stakeholders, analysed data from Google Analytics and reviewed 6 months worth of complaints.</p>
            <p>Based on the findings our design team proposed a very different approach from the generic complaints form. They designed a triaging service, posing simple questions which routed users to relevant information on GOV.UK or UKVI’s helpline, with an option to continue making a complaint. 
            </p>

            <p>The complaint form itself was then redesigned to be clearer for users who speak English as a second language and to encourage more informative responses. </p>
            
            <div><img class="img" src="/public/img/ukvi-sketch.jpg" width="100%" alt="A map of triaging questions" /></div>
            <span class="citation image">Mapping out how users will be triaged in a sub-section of the service</span>

            <!-- <div><img class="img" src="/public/img/ukvi-flow.jpg" width="100%" alt="User journey flow" /></div>
            <span class="citation image">Users were asked a series of questions to triage them to appropriate actions or guidance</span> -->
            
            <p>We tested the service by running a selection of real complaints through it and inviting stakeholders to carry out a robust review.</p>
            
            <h2>A service for everyone’s</h2>

            <div><img class="img" src="/public/img/ukvi-3-phones.png" width="100%" alt="Examples of the questions flow on mobile" /></div>
            <span class="citation image">Examples of the question flow on mobile</span>
            
            <p>The <a href="https://www.gov.uk/complain-uk-visas-immigration">new service</a> is clear, easy to use and meets the needs of the department’s customers and case working teams. </p>
            
            <p>Early feedback has shown a substantial increase in customer satisfaction from the previous service. Users no longer have a frustrating online experience compounding their dissatisfaction.</p>
            <p>The service went live worldwide on time and on budget within 6 months of us starting work. The clients have expressed to us how happy they are with our successful delivery.</p>

            <div><img class="img" src="/public/img/ukvi-complaint-page.jpg" width="100%" alt="A screenshot of the new complaints service" /></div>
            <span class="citation image">A screenshot of a page from the new service</span>

            <div class="pure-g bignumber">
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        31%
                    </h3>
                    <p>users satisfied with</p>
                    <p>old service (2019)</p>
                </div>
                <div class="xl-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3>
                        63%
                    </h3>
                    <p>users satisfied with</p>
                    <p>new service (April 2020)</p>
                </div>
            </div>

            <h2>See it live</h2>
            <p>You can view <a href="https://www.gov.uk/complain-uk-visas-immigration">the live service</a> on GOV.UK.</p>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 sidebar">
            <h3>Users</h2>
            <p>10,000+ UK and International</p>

            <h3>Phases</h2>
            <p>Live</p>
        </div>
        <div class="content more" id="casestudies">
            <div class="pure-g">
                <div class="xl-box pure-u-1">
                    <h2>More work we've done</h1>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-discovery">
                        <h3 class="content-subhead">
                            <div class="img nhsx-discovery">
                                <div></div>
                            </div>
                            Realising ministers' aims to join up health  
                            <span class="citation">NHSx </span>
                        </h3>
                        <p>
                           An ambition to make the NHS interoperable was proving hard to achieve. We gathered evidence to support a nationwide strategy.
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/asru-beta">
                        <h3 class="content-subhead">
                            <div class="img asru-beta">
                                <div></div>
                            </div>
                            Building an exemplar licensing service
                            <span class="citation">UK regulator </span>
                        </h3>
                        <p>
                            Researching, designing and building improvements to a regulatory licensing system
                        </p>
                    </a>
                </div>
                <div class="case-study-link xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <a href="/casestudy/nhsx-alpha">
                        <h3 class="content-subhead">
                            <div class="img nhsx-alpha">
                                <div></div>
                            </div>
                            Creating an interoperability standards directory
                        </h3>
                        <span class="citation">NHSx </span>
                        <p>
                            Helping health and social care IT systems join up through promoting interoperability standards.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="content" id="speakwithus">
    <div class="pure-g">
        <div class="xl-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h2 class="content-head content-head-ribbon">Talk to us</h2>
        </div>
        <div class="xl-box pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
                <p class="lead">Whether you’re ready to start your project now or you just want to talk things through, we’d love to hear from you.</p>
                <dl class="contact-us">
                    <dt>Email: </dt>
                    <dd><a href="mailto:hello@marvell.consulting?Subject=Hello">hello@marvell.consulting</a></dd>
                    <dt>Phone:</dt>
                    <dd><a href="tel:+442038860115">+44 (0)20 3886 0115</a></dd>
                    <dt>Social media:</dt>
                    <dd><a href="https://www.linkedin.com/company/marvell-consulting/">Linkedin</a>&ensp;|&ensp;<a href="https://twitter.com/marvellconsult">Twitter</a>&ensp;|&ensp;<a href="https://www.instagram.com/marvellconsulting">Instagram</a></dd>
                    <dt>Visit: </dt>
                    <dd>
                        <a href="https://www.google.com/maps/place/Marvell+Consulting/@51.5045827,-0.0970634,15z/data=!4m5!3m4!1s0x0:0x51e0129ad4a6fe3d!8m2!3d51.5044766!4d-0.097002">30 Great Guildford Street, London, SE1 0HS</a>
                        <br>
                        Nearest tube and rail - Borough, Southwark, London Bridge, Blackfriars
                    </dd>
                </dl>
                
            </div>

    </div>
</div>
{{> footer}}

</body>
</html>
